<ion-header>
  <ion-toolbar [ngClass]="{'header-default': !esEspecial, 'header-especial': esEspecial}">
    <div class="button-container">
      <ion-buttons slot="start">
        <ion-button class="return-btn" [routerLink]="returnLink">
          <div class="container-icon">
            <ion-icon src="assets/icons/union-2.svg" ></ion-icon>
          </div>
        </ion-button>
      </ion-buttons>
      
      <p *ngIf="headerText">{{ headerText }}</p>

      <ion-buttons class="brush-button" slot="end">
        <ion-button class="return-btn">
          <div class="container-icon">
            <ion-icon class="brush-icon" src="assets/icons/Trazado-47467.svg" routerLink="/editar-mascota"></ion-icon>
          </div>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="pet-info">

    <div class="image-container">

      <ion-avatar slot="start">
        <img src="assets/imgs/Rectángulo 19665@3x.png" alt="Foto de Marta A.">
      </ion-avatar>
      <h1>  Moka</h1>

    </div>
    
    <p>Raza<span>Pug</span></p>
    <hr>
    <p>Edad<span>2 años</span></p>
    <hr>
    <p>Tamaño<span>34,5 cm</span></p>
    <hr>
    <p>Peso<span>3 kg</span></p>
    <hr>
    <p>Hembra/Macho<span>Hembra</span></p>
    <hr>
    <p>¿Está en celo?<span>No</span></p>
    
    
  </div>
 
</ion-content>

