<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>

<ion-content [fullscreen]="true" class="ion-padding">

 <div class="add-image-container">

  

  <ion-grid>
    <h1>Añade hasta 6 imágenes</h1>
    <ion-row>
      <ion-col size="4">
        <div class="image-container">
          <img src="assets/imgs/resting-by-pool-french-bulldog-enjoys-breeze-comfortably-settled.png" class="img" alt="Image 1">
          
          <ion-button shape="round" class="round-button"> 
            <ion-icon slot="icon-only" src="assets/icons/delete bin.svg"></ion-icon>
          </ion-button>
        </div>
        
      </ion-col>
      
      <ion-col size="4">
        <div class="image-container">
          <img src= "assets/imgs/smiley-young-girl-petting-her-puppy.png" class="img" alt="Image 2">
          <ion-button shape="round" class="round-button"> 
            <ion-icon slot="icon-only" src="assets/icons/delete bin.svg"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      
      <ion-col size="4">
        <div class="image-container">
          <img src= "assets/imgs/portrait-little-doggie-looking-camera.png"class="img" alt="Image 3">
          <ion-button shape="round" class="round-button"> 
            <ion-icon slot="icon-only" src="assets/icons/delete bin.svg"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    
      <ion-col size="4">
        <div class="image-container">
          <img src="assets/imgs/woman-with-cute-little-french-bulldog.png" class="img" alt="Image 4">
          <ion-button shape="round" class="round-button"> 
            <ion-icon slot="icon-only" src="assets/icons/delete bin.svg"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      
      <ion-col size="4">
        <div class="image-container">
          <img src="assets/imgs/portrait-adorable-little-puppy.png" class="img" alt="Image 5">
          <ion-button shape="round" class="round-button"> 
            <ion-icon slot="icon-only" src="assets/icons/delete bin.svg"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      
      <ion-col size="4">
        <div class="image-container">
          <img src="assets/icons/add-image.svg" class="image-icon" alt="Add Icon">
        </div>
      </ion-col>
    </ion-row>
    
    
    <p>0/6 imágenes subidas</p> 
</ion-grid>


 </div>

 <div class="info-container">
  <ion-item >
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input class="custom-input" placeholder="Hotel adaptado para mascotas" [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label position="stacked">Ubicación</ion-label>
    <ion-input class="custom-input" placeholder="Jerez de la Frontera, Cádiz" [(ngModel)]="ubicacion"></ion-input>
  </ion-item>
</div>

<h2>Categoría</h2>
<div class="category-container">
  <ion-button class="category-button" 
              (click)="selectCategory(category)" 
              [ngClass]="{'selected': selectedCategories.includes(category.name)}" 
              *ngFor="let category of categories">
    <ion-icon src="{{ category.icon }}" class="category-icon"  
              [ngClass]="{'selected-icon': selectedCategories.includes(category.name)}"></ion-icon>
    {{ category.name }}
  </ion-button>
</div>




<div class="container-modal">
  <h2>Subcategoría</h2>
  <div class="container-subcategory-eleccion">
    <ion-select label-placement="floating" interface="action-sheet" value="">
      <ion-select-option value="">Parques funcionales</ion-select-option>
      <ion-select-option value="">Parques de agility</ion-select-option>
      <ion-select-option value="">Parques sociales</ion-select-option>
      <ion-select-option value="">Tiendas de alimentación</ion-select-option>
      <ion-select-option value="">Adopción por protectora</ion-select-option>
    </ion-select>
  </div>
</div>

<div class="description-container">
  <h2>Descripción</h2>
  <ion-item>
    
    <ion-textarea placeholder="Escribe aquí..." maxlength="1000" [(ngModel)]="description"></ion-textarea>
    <p>{{ description?.length || 0 }}/1000 caracteres</p>
  </ion-item>
</div>

<div class="submit-button-container">

  <ion-button expand="block" >Guardar cambios</ion-button>
  <ion-button expand="block" class="delete-button" >Eliminar punto de interés</ion-button>
</div>


 


</ion-content>
