<ion-header [translucent]="true">

  <img src="../../../assets/imgs/perros/shared image-full.png" alt="">

<div class="head-buttons">

  <ion-button class="back" slot="start" routerLink="/editar-servicios-paseos">
    <ion-icon class="arrow-icon" src="../../../assets/icons/union-2.svg"></ion-icon>
  </ion-button>

  <ion-button class="pencil-button" routerLink="/editar-paseo"><ion-icon class="pencil" src="../../../assets/icons/Trazado47467.svg"></ion-icon></ion-button>

  

</div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="person-data">
    <img class="image-profile" src="../../../assets/imgs/avatar@3x.png" alt="">
    <div>
      <p class="name">Ana Velázquez</p>
      <p class="city"><ion-icon name="location-outline" class="location-icon"></ion-icon>Jerez de la Frontera</p>
      <div class="star-content">
        <img class="star" src="../../../assets/icons/star.svg" alt="">
        <p class="scoring"> 4,8 <u>1635 opiniones</u></p>
    </div>
    </div>
  </div>

  <p class="grey-text">Tipo de pago</p>

  <div class="div-options">
    <ion-icon class="point" src="../../../assets/icons/Elipse1.svg"></ion-icon>
    <p class="text-options">Paseo durante el día</p>
  </div>

  <div class="div-options">
    <ion-icon class="point" src="../../../assets/icons/Elipse1.svg"></ion-icon>
    <p class="text-options">Paseo de 2 horas por 30€</p>
  </div>

  <hr>

  <p class="grey-text">Mascotas que acepta</p>

  <div class="div-options">
    <ion-icon class="point" src="../../../assets/icons/Elipse1.svg"></ion-icon>
    <p class="text-options">Razas: Pastor Alemán, Bulldog, Labrador, Beagle, <br>
    Caniche, Chihuahua, Dachshund, <span class="bold-text">Ver más</span></p>
  </div>

  <div class="div-options">
    <ion-icon class="point" src="../../../assets/icons/Elipse1.svg"></ion-icon>
    <p class="text-options">Edad: entre 2 y 11 años</p>
  </div>

  <div class="div-options">
    <ion-icon class="point" src="../../../assets/icons/Elipse1.svg"></ion-icon>
    <p class="text-options">Tamaño: menos de 35cm</p>
  </div>

  <div class="div-options">
    <ion-icon class="point" src="../../../assets/icons/Elipse1.svg"></ion-icon>
    <p class="text-options">Peso: entre 10 y 30 kg</p>
  </div>

  <div class="div-options">
    <ion-icon class="point" src="../../../assets/icons/Elipse1.svg"></ion-icon>
    <p class="text-options">Hembra, Macho</p>
  </div>
  
  <div class="div-options">
    <ion-icon class="point" src="../../../assets/icons/Elipse1.svg"></ion-icon>
    <p class="text-options">La mascota no puede estar en celo</p>
  </div>

  <hr>

  <p class="grey-text">Servicios extra disponibles</p>

  <div class="div-options">
    <ion-icon class="point" src="../../../assets/icons/Elipse1.svg"></ion-icon>
    <p class="text-options">Visita al veterinario</p>
  </div>

  <div class="div-options">
    <ion-icon class="point" src="../../../assets/icons/Elipse1.svg"></ion-icon>
    <p class="text-options">Administración de medicamentos</p>
  </div>

  <div class="div-options">
    <ion-icon class="point" src="../../../assets/icons/Elipse1.svg"></ion-icon>
    <p class="text-options">Corrección de malos hábitos</p>
  </div>

  <div class="div-options">
    <ion-icon class="point" src="../../../assets/icons/Elipse1.svg"></ion-icon>
    <p class="text-options">Socialización</p>
  </div>
  
</ion-content>
