.body{
    --background: #F8F8F8;
}

ion-segment{
    display: flex;
    justify-content: center; 
    gap:8px;
    --background:transparent;
   }

 .segment-button-checked{


    --ion-color-step-350:transparent !important;
    color:#141411;
 }
ion-segment-button{
   --border-radius: var(--app-border-radius);

   text-transform: none;
   font-size: 16px;
   font-family: LexendMedium;
   color: #919191;
   --background: #FFFFFF;
   
   --background-checked:#FFD954;
   --box-shadow: none !important;
   width: 195px;
   height: 58px;
   margin-top: 20px;
   

   
}

.content{
    display: flex;
    width: 90%;
    margin-left: 5%;
    box-shadow: 1px 1px 1px 1px rgba(206, 206, 205, 1);
    border-radius: 10pt;
    align-items: center;
    gap: 200px;
    margin-top: 5%;
    background: #FFFFFF;
    padding-left: 3%;

}

.right-arrow{
    transform: translateY(-20%) rotate(-90deg);
}

.icons{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 5%;
    margin-bottom: -5%;
    
    p{
        font-size: 10pt;
        font-family: LexendLight;
    }

}
.icons-2{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 5%;
    margin-top: -10%;
    
    p{
        font-size: 10pt;
        font-family: LexendLight;
    }

}

.text-1{
    margin-left: 5%;
    font-family: LexendRegular;
    font-size: 10pt;
    margin-bottom: 0;
    width: 100%;
}

.span-1{
    color: green;
}


.text-2{
    margin-left: 5%;
    font-family: LexendRegular;
    font-size: 10pt;
    margin-top: 0;
}
.span-2{
    color: red;
}
