.body{
    --background: #F8F8F8;
}

// .button-content{
//     display: flex;
//     width: 90%;
//     gap: 5px;
//     margin-left: 5%;
//     margin-top: 3%;
// }

// .button_1{
//     --background:white;
//     //border: 2px solid;
//     border-radius: 10px;
//     color: #919191;
//     font-family: LexendRegular;
//     font-size: 14px;
//     width: max-content;
//     flex: 1;
//     min-width: max-content;
//     border-color: #919191;
    
    
// }

// .amarillo{
//     --background: #FFD954;
//     border: none;
//     color: black;
//     font-family: LexendRegular;
//     font-size: 14px;
//     width: max-content;
//     //flex: 1;
//     min-width: max-content;
// }

ion-segment{
    display: flex;
    justify-content: center; 
    gap:8px;
    --background:transparent;
   }

 .segment-button-checked{


    --ion-color-step-350:transparent !important;
    color:#141411;
 }
ion-segment-button{
   --border-radius: var(--app-border-radius);

   text-transform: none;
   font-size: 16px;
   font-family: LexendMedium;
   color: #919191;
   --background: #FFFFFF;
   
   --background-checked:#FFD954;
   --box-shadow: none !important;
   width: 195px;
   height: 58px;
   margin-top: 20px;
   

   
}

.content{
    display: flex;
    width: 90%;
    margin-left: 5%;
    //border: 2px solid#CECECD;
    border-radius: 10pt;
    align-items: center;
    gap: 200px;
    margin-top: 5%;
    background: #FFFFFF;
    padding-left: 3%;

}
.icons{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 5%;
    margin-bottom: -5%;
    
    p{
        font-size: 10pt;
        font-family: LexendLight;
    }

}
.icons-2{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 5%;
    margin-top: -10%;
    
    p{
        font-size: 10pt;
        font-family: LexendLight;
    }

}

.text-1{
    margin-left: 5%;
    font-family: LexendRegular;
    font-size: 10pt;
    margin-bottom: 0;
    width: 100%;
}

.span-1{
    color: green;
}


.text-2{
    margin-left: 5%;
    font-family: LexendRegular;
    font-size: 10pt;
    margin-top: 0;
}
.span-2{
    color: red;
}
