<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>




<ion-content [fullscreen]="true" >

  <p class="company">Datos de la empresa</p>

  <div class="profile-container">
    <img class="dog" src="../../../assets/imgs/perros/haircuting-process-small-dog-sits-table-dog-with-professional@3x.png" alt="">

    <div >
      <p class="company-name">Peluquería Guau!</p>
      
      <div class="stars">
        <img src="../../../assets/imgs/interes/star.png" alt="">
        <p class="points">4,9 <span class="opinions">· Jerez de la Frontera, Cádiz</span></p>

      </div>

    </div>

  </div>

  <hr>
  <div class="services-head">
  <p class="title">Datos del servicio </p>
  <p class="service-name">Nombre del servicio</p>
  <p class="hair-cut">Corte de pelo a tu mascota</p> 
  <div class="date-time">
  <ion-icon slot="start" src="../../../assets/icons/calendar event.svg"></ion-icon>
  <p class="icons">18/09/2024</p>
  </div>
  <div class="date-time">
    <ion-icon slot="start" src="../../../assets/icons/time.svg"></ion-icon>
  <p class="icons">10:00 A.M</p>
</div>
</div>
<p class="pet">Mascota que participará</p>
<div class="moka">
  <img src="../../../assets/imgs/perros/Rectángulo19665.png" alt="">
  <div>
    <p class="dog-name">Moka</p>
    <p class="age">Pug· 2 años</p>
  </div>
</div>
<p class="extra-service">Servicio extra </p>
<p class="medicine">Tratamiento antiparasitorio</p>

<p class="medicine-1">Administración de medicamentos</p>

<hr>

<div class="target">
  <p>Información de pago</p>

  

  
    <ion-item lines="full">
      <ion-label class="label-1">Servicio</ion-label>
      <ion-label class="label-2">25€</ion-label>
    </ion-item>
    <hr>
    <ion-item>
      <ion-label class="label-1">Servicios extra</ion-label>
      <ion-label class="label-2">23€</ion-label>
    </ion-item>
    <hr>
    <ion-item>
      <ion-label class="label-1">Comisión</ion-label>
      <ion-label class="label-2">3€</ion-label>
    </ion-item>
    <hr>
    <ion-item class="last-item">
      <ion-label class="label-3">Total</ion-label>
      <ion-label class="label-4">51€</ion-label>
    </ion-item>
  
  
</div>

<p class="save-expenses">Ahorra los gastos de comisión <span>seleccionando</span><br>
<span>uno de </span> nuestros planes de suscripción</p>

<div class="cards">
  <p class="susbcription">Suscripción mensual</p>
  <div class="checkboxes">
    <p>20€</p>
    <ion-checkbox class="checkboss_1" slot="end"></ion-checkbox>
  </div>
  <p class="save-expenses-2">Ahorras los gastos de gestión</p>
</div>

<div class="cards">
  <p class="susbcription">Suscripción trimestral</p>
  <div class="checkboxes">
    <p>45€</p>
    <ion-checkbox class="checkboss_1" slot="end"></ion-checkbox>
  </div>
  <p class="save-expenses-2">Ahorras los gastos de gestión +5€ cada mes</p>
</div>

<div class="cards">
  <p class="susbcription">Suscripción anual</p>
  <div class="checkboxes">
    <p>89,90€</p>
    <ion-checkbox class="checkboss" slot="end"></ion-checkbox>
  </div>
  <p class="save-expenses-2">Ahorras los gastos de gestión +12,5€ cada mes</p>
</div>


<p class="withheld-payment">Tu pago del servicio quedará retenido <br>
hasta que el paseador apruebe tu solicitud</p>

<ion-button class="pay-continue" id="open-modal" expand="block">Continuar al pago total de 96€</ion-button>

<p class="text-bottom" ><u>Continuar sin la suscripción</u></p>



  
</ion-content>

<ion-modal class="modal-content" trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template class="prueba-3">

    
    <div class="block">
      <div class="last-div">
        <img class="person" src="../../../assets/imgs/Grupo12184@3x.png" alt="">
        <img class="cross" src="../../../assets/imgs/Trazado47885.png" alt="">
    
      </div>
      <p class="last-1">¡Solicitud enviada!</p>

      <p class="last-2">Tu solicitud ha sido registrada</p>

      <p class="last-3">El pago quedará retenido hasta <br>
      la confirmación de la empresa</p>

      <p class="last-4">En caso de rechazo, se te reembolsará <br>
      en un máximo de 72 horas.</p>

      <ion-button class="final-button">
        Aceptar y continuar
      </ion-button>



    </div>
  </ng-template>
</ion-modal>
