<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>




<ion-content [fullscreen]="true" >

  <p class="company">Datos de la empresa</p>

  <div class="profile-container">
    <img class="dog" src="../../../assets/imgs/perros/haircuting-process-small-dog-sits-table-dog-with-professional@3x.png" alt="">

    <div>
      <p class="guau">Peluquería Guau!</p>
      
      
      <!-- <p class="points"><ion-icon class="star" src="../../../assets/icons/star.svg"></ion-icon>4,9 <u class="opinions"> 1635 opiniones</u></p> -->
      <div class="stars">
        <img src="../../../assets/imgs/interes/star.png" alt="">
        <p class="points">4,9 <span class="opinions"> · 25€</span></p>

      </div>

    </div>

  </div>

  <hr>

  <p>Datos del servicio <br>
  Nombre del servicio <br>
  Corte de pelo a tu mascota <br>
<ion-icon>18/09/2024</ion-icon><br>
<ion-icon>10:00 A.M</ion-icon></p>

<p>Mascota que participará</p>
<div>
  <img src="" alt="">
  <div>
    <p>Moka <br>
    Pug· 2 años</p>
  </div>
</div>
<p>Servicio extra <br>
Tratamiento antiparasitorio <br>
Administración de medicamentos</p>

<hr>

<div>
  <p>Información de pago</p>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>Servicio</ion-label>
      <ion-label>25€</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Servicios extra</ion-label>
      <ion-label>23€</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Comisión</ion-label>
      <ion-label>3€</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Total</ion-label>
      <ion-label>51€</ion-label>
    </ion-item>
    
  </ion-list>
</div>

<p>Ahorra los gfastos de comisión <span>seleccionando</span><br>
<span>uno de </span> nuestros planes de suscripción</p>

<ion-card>
  <ion-card-header>
    <ion-card-title>20€</ion-card-title>
    <ion-card-subtitle>Suscripción mensual</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Ahorras los gastos de gestión
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>20€</ion-card-title>
    <ion-card-subtitle>Suscripción mensual</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Ahorras los gastos de gestión
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>20€</ion-card-title>
    <ion-card-subtitle>Suscripción mensual</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Ahorras los gastos de gestión
  </ion-card-content>
</ion-card>

<p>Tu pago del servicio queará retenido <br>
hasta que el paseador apruebe tu solicitud</p>

<ion-button>Continuar al pago total de 96€</ion-button>

<p><u>Continuar sin la suscripción</u></p>



  
</ion-content>
