<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>

<ion-content [fullscreen]="true">
  <div class="container-filtros">
    <!-- Vinculamos el formulario con formGroup y ngSubmit -->
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">



      <div class="container-tipo">
        <h2>Filtros</h2>
        <div class="container-check">
          <input type="checkbox" formControlName="paseosDia" />
          <p>Paseos durante el día</p>
        </div>

        <div class="container-check">
          <input type="checkbox" formControlName="paseosNoche" />
          <p>Paseos durante la noche</p>
        </div>
        <div class="container-check">
          <input type="checkbox" formControlName="guarderia" />
          <p>Servicios de guardería</p>
        </div>
      </div>

      <hr>
      <div class="container-tipo">
        <h2>Rango de distancia</h2>
        <div class="container-range">
          <p>Rango seleccionado: {{ rangoSeleccionado }} km</p>
          <input type="range" formControlName="paseosDia" min="0" max="10" step="0.1" (input)="onRangoChange($event)" />
        </div>
      </div>

      <hr>

      <div class="container-tipo">
        <h2>Tamaño de la mascota aceptado</h2>
        <div class="container-tamano">
          <div [ngClass]="{'tamano-seleccionado': esSeleccionadaTamano('todos')}" class="tamano"
            (click)="seleccionarOpcionTamano('todos')">
            <p>Todos</p>
          </div>
          <div [ngClass]="{'tamano-seleccionado': esSeleccionadaTamano('menos35')}" class="tamano"
            (click)="seleccionarOpcionTamano('menos35')">
            <p>- 35 cm</p>
          </div>
          <div [ngClass]="{'tamano-seleccionado': esSeleccionadaTamano('35a55')}" class="tamano"
            (click)="seleccionarOpcionTamano('35a55')">
            <p>35-55 cm</p>
          </div>
          <div [ngClass]="{'tamano-seleccionado': esSeleccionadaTamano('mas55')}" class="tamano-dif"
            (click)="seleccionarOpcionTamano('mas55')">
            <p>+ 55 cm</p>
          </div>
        </div>
      </div>

      <hr>

      <div class="container-tipo">
        <h2>Peso de la mascota aceptado</h2>
        <div class="container-tamano">
          <div [ngClass]="{'tamano-seleccionado': esSeleccionadaPeso('todos')}" class="tamano"
            (click)="seleccionarOpcionPeso('todos')">
            <p>Todos</p>
          </div>
          <div [ngClass]="{'tamano-seleccionado': esSeleccionadaPeso('1a10')}" class="tamano"
            (click)="seleccionarOpcionPeso('1a10')">
            <p>1 - 10 kg</p>
          </div>
          <div [ngClass]="{'tamano-seleccionado': esSeleccionadaPeso('10a30')}" class="tamano"
            (click)="seleccionarOpcionPeso('10a30')">
            <p>10-30 kg</p>
          </div>
          <div [ngClass]="{'tamano-seleccionado': esSeleccionadaPeso('mas30')}" class="tamano-dif"
            (click)="seleccionarOpcionPeso('mas30')">
            <p>+ 30 kg</p>
          </div>
        </div>
      </div>


      <hr>

      <div class="container-tipo">
        <h2>Horas disponibles</h2>
        <div class="container-tamano">
        </div>
        <div class="input-hora">
        </div>
      </div>


      <hr>

      <div class="container-tipo">
        <h2>Fechas disponibles</h2>
        <div class="container-calendario">
          <div class="calendario-custom">
            <ion-datetime presentation="date" display-format="YYYY-MM-DD" [multiple]="true" [firstDayOfWeek]="1" ></ion-datetime>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <ion-button type="submit" [disabled]="!form.valid">Aplicar Filtros</ion-button>
      </div>
    </form>
  </div>
</ion-content>