<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>

<ion-content [fullscreen]="true">

  <div class="info-content" routerLink="/detalle-servicio-paseo">
    <img class="dog-image" src="../../../assets/imgs/perros/shared image.png" alt="">
    <div class="text-content" routerLink="/detalle-servicio">
      <div class="texts">
        <p class="cut-hair">Paseo de día<br>
        <span class="distance">Jerez de la Frontera, Cádiz</span><br>
        <span class="price"> 30€/ 2 Horas</span></p>
        
      </div>
      <ion-icon class="right-arrow" src="../../../assets/icons/Trazado 47843.svg"></ion-icon>
    </div>
    

  </div>

  <div class="info-content" routerLink="/">
    <img class="dog-image" src="../../../assets/imgs/perros/shared image-3.png" alt="">
    <div class="text-content" routerLink="/detalle-servicio">
      <div class="texts">
        <p class="cut-hair">Paseo de noche<br>
        <span class="distance">Jerez de la Frontera, Cádiz</span><br>
        <span class="price"> 30€/ 2 Horas</span></p>
        
      </div>
      <ion-icon class="right-arrow" src="../../../assets/icons/Trazado 47843.svg"></ion-icon>
    </div>
    

  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/anadir-paseo">
    <ion-fab-button class="add-button" >
    <ion-icon src="assets/icons/add-outline.svg" class="add-icon"></ion-icon> 
</ion-fab-button>
</ion-fab>

  
  
  
</ion-content>
