ion-header{
    height: 30%;


img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.head-buttons{
    display: flex;
    padding-top: 20%;
    width: 95%;
    margin-left: 5%;

}

.back{
    height: 30pt;
    width: 30pt;
    color: #FFD954;
    max-width: 50pt;
    min-width: none;
    min-height: 25pt;
    max-height: 50pt;
    --padding: 0;
}

.arrow-icon{
    color: black;
    height: 12pt;
    width: 12pt;
    padding: 0;
    min-width: 12pt;
}
}

.haircut-pet{
  font-size: 18pt;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-family: LexendBold;
}

.profile-container{
    display: flex;
    align-items: center;
    gap: 12px;
}

.dog{
    height: 65px;
}
.guau{
    margin-bottom: -4%;
    font-family: LexendSemiBold;
    font-size: 18px;

}

.location{
    display: flex;
    align-items: center;
    width: 153%;
    margin-bottom: -4%;

    
}

.location-icon{
    height: 100%;
}
.city{
   font-size: 15px;
    font-family: "LexendLight";
    padding-left: 2%;
}
.stars{
    display: flex;
    align-items: center;
    margin-top: -14%;
    gap: 2px;
}
.points{
    font-size: 16px;
}

.opinions{
    font-family: "LexendRegular";
    font-size: 13px;
}

.service{
    color: #919191;
    font-family: "LexendLight";
    font-size: 14px;
}

.point{
    height: 5px;
    
}
.tratamientos{
    display: flex;
    align-items: center;
    font-family: "LexendLight";
    font-size: 16px;
    
}
hr{
    width: 110%;
  margin-left: -5%;
  height: 2px;
  color: #D9D9D9;
}

.final-hr{
  width: 110%;
margin-left: -5%;
height: 2px;
color: #D9D9D9;
margin-top: 40%;
box-shadow: 0 -2px 5px #f4f0f0;
}


.bottom{
    display: flex;
}

ion-button{
    width: 45%;
    margin-left: 2.5%;
}
.button-1{
    --background: white;
    border: 1px solid;
    border-radius: 10pt;
    font-size: 12pt;
}

.send-button{
  font-size: 12pt;
}

///////////////////PRIMER MODAL/////////////////////

ion-modal {
    --height: 90%;
    --border-radius: 20pt;

  }

  .content-modal-x{
    height: 100%;
  }

  .title-icon-modal-1{
    gap: 170px;
    display: flex;
    align-items: center;
  }

  .title-modal{
    margin-left: 5%;
    font-size: 19px;
    margin-top: 5%;
  }
  .modal-container{
    margin-left: 5%;
    display: flex;
    align-items: center;
    gap: 10px;

  }
  .dog-modal{
    height: 40px;
  }
  .guau-modal{
    margin-bottom: -7%;
    font-size: 18px;
    font-family: LexendMedium;
  }
  .stars-modal{
    display: flex;
    align-items: center;
    gap: 2px;

  }
  .points-modal{
    font-size: 16px;

  }
  .opinions-modal{
    font-family: "LexendLight";
    font-size: 16px;
  }

  .first-hr{
    margin-bottom: 0;
  }

  .second-hr{
    margin-top: 0;
  }

  //CALENDARIO
   
  .calendario-custom {
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    height: 40%;
    margin-left: 8%;

    ion-datetime {
        font-family: LexendRegular;
        font-size: 15px;
        color: #2b2828;
        background-color: transparent;
        --ion-font-family: "LexendRegular";
        border-radius: 16px;
        --today-color: black !important;
        width: 100%;
        height: 100%;
        --ion-color-base: #2B2828!important;
        
     
    }



    ion-datetime::part(calendar-day):focus {
        background-color: #110f0f !important;
        box-shadow: none !important;
        color: #ffffff;
    }

    ion-datetime::part(calendar-day) {
        color: #919191;
        font-size: 15px;
    }

    ion-datetime::part(calendar-weekday) {
        font-size: 13px;
        font-family: "LexendRegular";
        color: #919191;
    }
}

//FECHAS DISPONIBLES

h2 {
    font-family: LexendRegular;
    font-size: 14px;
    margin-top: 20px;
    color: #919191;
    margin-left: 5%;
}

.container-hora {
    display: flex;
    align-items: center;
    border: 1px solid #100f0f;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
    gap: 10px;
    background-color: transparent;
    width: 90%;
    margin-left: 5%;

    ion-icon {
        font-size: 18px;
        color: #000;
    }

    ion-datetime-button {
        font-family: LexendMedium;
        font-size: 14px;
        color: #141411;
        --background: white;
    }

    ion-datetime {
        --background: #fff1f2;
        
    }

    
  ion-datetime::part(native-button) {
    --background: white;
  }

}
.continue{
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
}

////////////////MODAL 2///////////////////////////////



ion-modal {
    --height: 90%;
    --border-radius: 20pt;

  }

.title-icon-modal{
  display: flex;
  align-items: center;
  gap: 170px;
}

  .title-modal{
    margin-left: 5%;
    font-size: 19px;
    margin-top: 5%;
  }

  
  .modal-container{
    margin-left: 5%;
    display: flex;
    align-items: center;
    gap: 10px;

  }
  .dog-modal{
    height: 40px;
  }

  .guau-modal{
    margin-bottom: -7%;
    font-family: 10px;
  }

  .stars-modal{
    display: flex;
    align-items: center;
    gap: 2px;

  }
  .points-modal{
    font-size: 14px;

  }
  .opinions-modal{
    font-family: "LexendLight";
    font-size: 14px;
  }
 
  .dog-selection{ 
    font-family: LexendMedium;
  }

  .bottom-content{
    margin-bottom: 40%;
    margin-top: 25px;
  }
  
.checkbox_1{
    border: 2px solid;
    border-radius: 8pt;
    display: flex;
    align-items: center;
    gap: 121px;
    width: 90%;
    padding: 2%;
    margin-left: 5%;
    height: 50px;
    border-color: #919191;
    margin-bottom: 3%;

}
.checkbox_2{
    border: 2px solid;
    border-radius: 8pt;
    display: flex;
    align-items: center;
    gap: 105px;
    width: 90%;
    padding: 2%;
    margin-left: 5%;
    height: 50px;
    border-color: #919191;
    margin-bottom: 3%;

}
.checkbox_3{
    border: 2px solid;
    border-radius: 8pt;
    display: flex;
    align-items: center;
    gap: 72px;
    width: 90%;
    padding: 2%;
    margin-left: 5%;
    height: 50px;
    border-color: #919191;

}
.titles-selection{
    color: #919191;
    margin-left: 5%;
    margin-top: 20px;
    font-size: 14px;
}

.dog-selection-content{
  margin-bottom: 25px;
  margin-bottom: 25px;
  border: 2px solid #919191;
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
}

.arrow-chevron-down{
  color: #919191;
}

.titles-selection-2{
    color: #919191;
    margin-left: 5%;
    font-size: 14px;
    
}

.dog-treatment{
  font-family: LexendRegular;
  color: #141411;
  font-size: 14px;
}

span{
    color: #919191;
}

ion-checkbox{
    --border-radius: 5pt;
    --checkmark-color: black;
}

.continue-button{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10%;
}
