<ion-header [translucent]="true">

    <img src="../../../assets/imgs/perros/yorkshire-terrier-getting-procedure-groomer-salon-cropped-photo-little-dog-yorkshire-terrier-puppy-getting-haircut.png" alt="">

  <div class="head-buttons">

    <ion-button class="back" slot="start" routerLink="/tabs/servicios">
      <ion-icon class="arrow-icon" src="../../../assets/icons/union-2.svg"></ion-icon>
    </ion-button>

    

  </div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div>
    <p class="haircut-pet">Corte de pelo a tu mascota</p>

    <div class="profile-container">
      <img class="dog" src="../../../assets/imgs/perros/haircuting-process-small-dog-sits-table-dog-with-professional@3x.png" alt="">

      <div>
        <p class="guau">Peluquería Guau!</p>
        <div class="location">
          <img class="location-icon" src="../../../assets/icons/Trazado 47654.png" alt=""><p class="city">Jerez de la Frontera, Cádiz</p>
        </div>
        
        <!-- <p class="points"><ion-icon class="star" src="../../../assets/icons/star.svg"></ion-icon>4,9 <u class="opinions"> 1635 opiniones</u></p> -->
        <div class="stars">
          <img src="../../../assets/imgs/interes/star.png" alt="">
          <p class="points">4,9 <u class="opinions">1635 opiniones</u></p>

        </div>

      </div>

    </div>
    <p class="service">Tipo de servicio</p>
    <p class="tratamientos"><ion-icon slot="start" src="../../../assets/icons/Elipse1.svg" class="point"></ion-icon>Peluquería canina</p>
  </div>
  <hr>
  <div>
    <p class="service">Servicios extra disponibles</p>

    <p class="tratamientos"><ion-icon slot="start" src="../../../assets/icons/Elipse1.svg" class="point"></ion-icon>Limado y cortado de uñas</p>
    <p class="tratamientos"><ion-icon slot="start" src="../../../assets/icons/Elipse1.svg" class="point"></ion-icon>Tratamiento antiparasitorio</p>
    <p class="tratamientos"><ion-icon slot="start" src="../../../assets/icons/Elipse1.svg" class="point"></ion-icon>Administración de medicamentos</p>
  </div>


  <hr class="final-hr">
  <div class="bottom">
    <ion-button class="button-1" routerLink="/perfil-empresa-galeria">
      Ver perfil
    </ion-button>
    <ion-button class="send-button" (click)="openModal()" expand="block">
      Enviar solicitud
    </ion-button>
  </div>

  

  





</ion-content>

<!-- PRIMER MODAL -->

<ion-modal trigger="open_modal" #open_modal [initialBreakpoint]="1" [breakpoints]="[0, 1]" class="ion-padding">
  <ng-template>
    <div class="title-icon-modal">
      
      <p class="title-modal">Solicitud de servicio </p>
      <img src="../../../assets/imgs/Trazado47885.png" alt="" (click)="closeModal(0)">
    </div>
    
    <hr class="hr-1">
    <div class="modal-container">
      <img class="dog-modal" src="../../../assets/imgs/perros/haircuting-process-small-dog-sits-table-dog-with-professional@3x.png" alt="">

      <div>
        <p class="guau-modal">Peluquería Guau! </p>
        <div class="stars-modal">
          <img src="../../../assets/imgs/interes/star.png" alt="">
          <p class="points-modal">4,9 <span class="opinions-modal">· 25€</span></p>

        </div>
        

      </div>

    </div>
    <hr class="hr-2">
    <div class="calendario-custom">
    <ion-datetime presentation="date"></ion-datetime>
  </div>
    <hr>
    <div class="container-modal">
      <h2>Selecciona una hora disponible</h2>
      <div class="container-hora">
        <ion-icon slot="start" name="time-outline"></ion-icon>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>

            <ion-datetime id="datetime" presentation="time" value="2023-11-02T01:22:00"
              [formatOptions]="{ hour: '2-digit', minute: '2-digit', hour12: true }"> </ion-datetime>

          </ng-template>
        </ion-modal>
      </div>

    </div>

    <div >
      <ion-button class="continue" expand="block" (click)="closeModal(0)" >Continuar</ion-button>
    </div>

    

  </ng-template>
</ion-modal>

<!-- SEGUNDO MODAL -->

<ion-modal trigger="open_modal_2" #open_modal_2 [initialBreakpoint]="1" [breakpoints]="[0, 1]"  class="ion-padding">
  <ng-template>
    <div class="title-icon-modal">
      
      <p class="title-modal">Solicitud de servicio </p>
      <img src="../../../assets/imgs/Trazado47885.png" alt="" (click)="closeModal(1)">
    </div>
    <hr class="hr-1">
    <div class="modal-container">
      <img class="dog-modal" src="../../../assets/imgs/perros/haircuting-process-small-dog-sits-table-dog-with-professional@3x.png" alt="">

      <div>
        <p class="guau-modal">Peluquería Guau! </p>
        <div class="stars-modal">
          <img src="../../../assets/imgs/interes/star.png" alt="">
          <p class="points-modal">4,9 <span class="opinions-modal">· 25€</span></p>

        </div>
        

      </div>
      

    </div>
    <hr class="hr-1">
    
      <p class="titles-selection">¿Qué mascota participará?</p>
      
      <ion-item>
        <ion-select
          class="dog-selection"
          toggleIcon="chevron-down-outline"
          interface="popover"
          placeholder="Selecciona  una mascota"

        >
          <ion-select-option value="moka">Moka</ion-select-option>
          <ion-select-option value="mika">Mika</ion-select-option>
          <ion-select-option value="nuka">Nuka</ion-select-option>
        </ion-select>
      </ion-item>

      <hr>
      <div  class="bottom-content">
      <p class="titles-selection-2">Selecciona un servicio extra (No obligatorio)</p>
      
      <div class="checkbox_1">
      <p>Limado y cortado de uñas <span>(+8€)</span></p>
      <ion-checkbox></ion-checkbox>
      </div>

      <div class="checkbox_2">
        <p>Tratamiento antiparasitorio <span>(+18€)</span></p>
        <ion-checkbox></ion-checkbox>
      </div>

      <div class="checkbox_3">
        <p>Administración de medicamentos <span>(+5€)</span></p>
        <ion-checkbox slot="end"></ion-checkbox>
      </div>
    </div>
      
      <ion-button class="continue-button" routerLink="/resumen-pago-servicio" (click)="closeModal(1)">Continuar</ion-button>

    
    </ng-template>

    
</ion-modal>
      
