<ion-header [translucent]="true">

    <img src="../../../assets/imgs/perros/yorkshire-terrier-getting-procedure-groomer-salon-cropped-photo-little-dog-yorkshire-terrier-puppy-getting-haircut.png" alt="">

  <div class="head-buttons">

    <ion-button class="back" slot="start">
      <ion-icon class="arrow-icon" src="../../../assets/icons/union-2.svg"></ion-icon>
    </ion-button>

    

  </div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div>
    <p>Corte de pelo a tu mascota</p>

    <div class="profile-container">
      <img class="dog" src="../../../assets/imgs/perros/haircuting-process-small-dog-sits-table-dog-with-professional@3x.png" alt="">

      <div>
        <p class="guau">Peluquería Guau!</p>
        <div class="location">
          <img class="location-icon" src="../../../assets/icons/Trazado 47654.png" alt=""><p class="city">Jerez de la Frontera, Cádiz</p>
        </div>
        
        <!-- <p class="points"><ion-icon class="star" src="../../../assets/icons/star.svg"></ion-icon>4,9 <u class="opinions"> 1635 opiniones</u></p> -->
        <div class="stars">
          <img src="../../../assets/imgs/interes/star.png" alt="">
          <p class="points">4,9 <u class="opinions">1635 opiniones</u></p>

        </div>

      </div>

    </div>
    <p class="service">Tipor de servicio</p>
    <p class="tratamientos"><ion-icon slot="start" src="../../../assets/icons/Elipse1.svg" class="point"></ion-icon>Peluquería canina</p>
  </div>
  <hr>
  <div>
    <p class="service">Servicios extra disponibles</p>

    <p class="tratamientos"><ion-icon slot="start" src="../../../assets/icons/Elipse1.svg" class="point"></ion-icon>Limado y cortado de uñas</p>
    <p class="tratamientos"><ion-icon slot="start" src="../../../assets/icons/Elipse1.svg" class="point"></ion-icon>Tratamiento antiparasitorio</p>
    <p class="tratamientos"><ion-icon slot="start" src="../../../assets/icons/Elipse1.svg" class="point"></ion-icon>Administración de medicamentos</p>
  </div>



  <div class="bottom">
    <ion-button class="button-1">
      Ver perfil
    </ion-button>
    <ion-button>
      Enviar solicitud
    </ion-button>
  </div>

  

  





</ion-content>
