ion-content{
    --background: #F8F8F8;
}

.buttons{
    display: flex;
    width: 90%;
    margin-left: 5%;
    gap: 5px;
    margin-top: 5%;
}

.button_1{
    --background:#FFFFFF;
    //border: 2px solid;
    border-radius: 10px;
    color: #919191;
    font-family: LexendRegular;
    font-size: 14px;
    border-color: #919191;
    
    
}
.amarillo{
    --background: #FFD954;
    border: none;
    color: black;
    font-family: LexendRegular;
    font-size: 14px;
}
.content{
    display: flex;
    width: 90%;
    margin-left: 5%;
    border: 2px solid#CECECD;
    border-radius: 10pt;
    align-items: center;
    gap: 170px;
    margin-top: 5%;
    --background: #FFFFFF;

}
.icons{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 5%;
    margin-bottom: -5%;
    
    p{
        font-size: 12pt;
        font-family: LexndLight;
    }

}
.icons-2{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 5%;
    margin-top: -10%;
    
    p{
        font-size: 12pt;
        font-family: LexndLight;
    }

}
.span-1{
    color: green;
}

.text-1{
    margin-left: 5%;
    font-family: LexendRegular;
    font-size: 12pt;
    margin-bottom: 0;
    width: 100%;
}
.text-2{
    margin-left: 5%;
    font-family: LexendRegular;
    font-size: 12pt;
    margin-top: 0;
}
span-2{
    color: red;
}
