<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>

<ion-content [fullscreen]="true">

  <ion-segment value="default">
    <ion-segment-button value="default">
      <ion-label>Paseos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Servicios</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="content" routerLink="/detalle-resrva-de-servicio">
    <div>
      <p class="text-1">Paseo durante el día</p>
      <div class="icons">
      <ion-icon slot="start" src="../../../assets/icons/calendar event.svg"></ion-icon><p>18/09/2024</p>
      </div>
      <div class="icons-2">
        <ion-icon slot="start" src="../../../assets/icons/time.svg"></ion-icon><p>10:00 A.M.</p>
        </div>
      <p class="text-2">Estado: <span class="span-1">Aceptada</span></p>
  </div>
  <ion-icon src="../../../assets/icons/arrowups.svg"></ion-icon>
  </div>

  <div class="content" routerLink="/seguimiento-de-paseos">
    <div>
      <p class="text-1">Paseo durante el día</p>
      <div class="icons">
      <ion-icon slot="start" src="../../../assets/icons/calendar event.svg"></ion-icon><p>15/09/2024</p>
      </div>
      <div class="icons-2">
        <ion-icon slot="start" src="../../../assets/icons/time.svg"></ion-icon><p>10:00 A.M.</p>
        </div>
      <p class="text-2">Estado: <span class="span-2">Rechazada</span></p>
  </div>
  <ion-icon src="../../../assets/icons/arrowups.svg"></ion-icon>
  </div>
  
</ion-content>
