<app-app-header [headerText]="dynamicHeaderText" ></app-app-header>

<ion-content [fullscreen]="true">
  <!-- Campo de DNI/NIF/NIE -->
  <p class="target">DNI/ NIF/ NIE</p>
  <ion-input label="" class="write-here-2" placeholder="Escribe aquí..."></ion-input>

  <!-- Sección para subir documento -->
  <p class="target">Sube tu documento</p>
  <div class="upload-section">
    <ion-card class="upload-card">
      <ion-icon src="/assets/icons/Grupo 11646.svg" class="upload-icon"></ion-icon>
      <ion-label>Sube la parte delantera de tu documento</ion-label>
    </ion-card>
    <ion-card class="upload-card">
      <ion-icon src="/assets/icons/Grupo 11646.svg" class="upload-icon"></ion-icon>
      <ion-label>Sube la parte trasera de tu documento</ion-label>
    </ion-card>
  </div>

  <!-- Dirección de facturación -->
  <p class="target">Dirección de facturación</p>
  <ion-input label="" class="write-here-2" placeholder="Escribe aquí..."></ion-input>

  <!-- Número de IVA -->
  <p class="target">Número de IVA (Sólo si aplica)</p>
  <ion-input label="" class="write-here-2" placeholder="Escribe aquí..."></ion-input>
 

  <!-- Sección de antecedentes penales -->
  <p class="target">Antecedentes penales</p>
  <ion-card class="upload-card2">
    <ion-icon src="/assets/icons/Grupo 11646.svg" class="upload-icon"></ion-icon>
    <ion-label class="upload-label">Sube aquí</ion-label>
    <ion-label class="document-label">el documento</ion-label>
  </ion-card>

  <!-- Botón de guardar cambios -->
  <ion-button  class="last-button" routerLink="/mascotas-aceptadas">Guardar cambios</ion-button>
</ion-content>
