<app-app-header [headerText]="dynamicHeaderText" ></app-app-header>


<ion-content [fullscreen]="true">
  
  <img class="circle" src="../../../assets/imgs/Rectángulo19799@3x.png" alt="">
  <img class="fingerprint" src="../../../assets/imgs/Grupo11391@3x.png" alt="">
  
  <ion-button class="add-image">Añade una imagen</ion-button>

  <p class="name">Nombre</p>
  <ion-input label="" class="write-here" placeholder="Escribe aquí..."></ion-input>

  <p class="target">Ubicación</p>
  <ion-input label="" class="write-here-2" placeholder="Escribe aquí..."></ion-input>



  <p class="target">Descripción</p>
  <ion-input label="" class="write-here-3" placeholder="Escribe aquí..."></ion-input>

 
  
  <!-- <ion-button class="pdf-button">
    <div class="inside">
      <span>Sube aquí tu PDF</span>
      <ion-icon name="share-outline" class="share-outline" slot="end"></ion-icon>
    </div>
    </ion-button> -->

    <ion-button class="last-button" routerLink="/completar-perfil-empresa-2">Continuar</ion-button>








</ion-content>
