ion-modal {
    --border-radius: 25px;
    --height: 90%;
}

.container-modal {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;

    .tittle {
        font-family: LexendSemiBold;
        font-size: 20px;
        color: #110f0f;
    }
}

.container-datos {
    display: flex;
    align-items: stretch;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;

    .container-fotousuario {
        width: 50px;
        height: 50px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container-info {
        margin-left: 10px;
        justify-content: center;

        .nombre,
        .precio {
            margin-top: 0;
            margin-bottom: 5px;
        }

        .nombre {
            font-family: LexendMedium;
            font-size: 18px;
        }

        .precio {
            font-family: LexendLight;
            font-size: 16px;
            color: #100f0f;
            display: flex;
            align-items: center;

            .valoracion {
                display: flex;
                align-items: center;

                ion-icon {
                    font-size: 14px;
                }

                .nota {
                    font-family: LexendMedium;
                    margin-left: 3px;
                }
            }
        }
    }
}