<ion-header >

  <div class="head-buttons">

    <ion-button class="back" slot="start" routerLink="/tabs/servicios">
      <ion-icon class="arrow-icon" src="../../../assets/icons/union-2.svg"></ion-icon>
      
    </ion-button>
    <p class="filters">Filtros</p>
    <ion-button class="brush" >
      <ion-icon class="brush-icon" src="../../../assets/icons/brush2.svg"></ion-icon>
    </ion-button>

  </div>
 
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  
  
  <div class="container-tipo">
    <h2>Rango de distancia</h2>
    <div class="container-range">
      <p>Rango seleccionado: {{ rangoSeleccionado }} km</p>
      <input type="range" formControlName="paseosDia" min="0" max="10" step="0.1" (input)="onRangoChange($event)" />
    </div>
  </div>

  <hr>

  <p>Selecciona la categoría o categorías <br>
  por las que deseas filtrar</p>

  <div class="categories" >
    <ion-button class="button_1" *ngFor="let button of buttons" (click)="color(button.id)" [ngClass]="{'amarillo':button.checked}">
      {{button.text}}
    </ion-button>
    
    <!-- <ion-button class="button_2" (click)="color(button.id)" [ngClass]="{'amarillo':button.checked}"></ion-button> -->
  </div>

    <!-- <div class="categories" *ngFor="let button of buttons_2">
    
    <ion-button class="button_3" (click)="color(button.id)" [ngClass]="{'amarillo':button.checked}">Servicios de rehabilitación</ion-button>

    <ion-input class="blanca" (click)="color(button.id)" [ngClass]="{'amarillo':button.checked}" placeholder="Peluquería canina" >
      
    </ion-input> 
    <ion-button class="button_4" (click)="color(button.id)" [ngClass]="{'amarillo':button.checked}">Peluquería canina</ion-button>
  </div>

  <div class="categories" *ngFor="let button of buttons_3">
    <ion-button class="button_5" (click)="color(button.id)" [ngClass]="{'amarillo':button.checked}">Comida para perros</ion-button>
    
    <ion-button class="button_6" (click)="color(button.id)" [ngClass]="{'amarillo':button.checked}">Juguetes para perros</ion-button>
    
  </div>    -->
    
  
  




</ion-content>
