ion-content{
    --background: url('../../../assets/imgs/backgrounds/BIENVENIDA.png') no-repeat center / cover; 

    .logo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30%; 
        width: 100%;

        img {
            width: 80%;
            height: auto;
        }
    
        .span1, .span2 {
            text-align: center;
            margin-top: 10px; 
            font-size: 25px; 
            color: black;
        }

        .span1{
            font-family: LexendLight;
        }

        .span2{
            font-family: LexendBold;
        }
    }

    .custom-btn {
        position: absolute;
        bottom: 10%;
        left: 50%;  
        transform: translateX(-50%);
        width: 80%; 
        max-width: 280px; 
        height: 55px;
        color: white;
        --background: black;
        --border-radius: 5px;
    }
}