<ion-content [fullscreen]="true">
  <div class="container-fotoperro">
    <div class="button-container">
      <ion-buttons slot="start">
        <ion-button class="return-btn" routerLink="/tabs/puntos-de-interes">
          <div class="container-icon">
            <ion-icon src="assets/icons/union-2.svg"></ion-icon>
            <ion-icon class="right-icon" src="assets/icons/Trazado-47467.svg"></ion-icon>
          </div>
          
        </ion-button>
      </ion-buttons>
    </div>

    <ion-content [fullscreen]="true">
      <div class="container-fotoperro">
        <div class="button-container">
          <ion-buttons slot="start">
            <ion-button class="return-btn" routerLink="/tabs/listado-paseadores">
              <div class="container-icon">
                <ion-icon src="assets/icons/union-2.svg"></ion-icon>
              </div>
            </ion-button>
          </ion-buttons>
        </div>
    
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let image of images">
              <img [src]="image" alt="Imagen del punto de interés">
            </div>
          </div>
         
        </div>
      </div>
    </ion-content>
    
  </div>
</ion-content>
