
    <ion-content [fullscreen]="true">
      <div class="container-fotoperro">
        <div class="button-container">
          <ion-buttons>
            <ion-button class="return-btn" slot="start" routerLink="/nuevo-punto-de-interes">
              <ion-icon src="assets/icons/union-2.svg"></ion-icon>
            </ion-button>
            
            <ion-button class="return-btn" slot="end">
              <ion-icon src="assets/icons/Trazado-47467.svg"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
        
    
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let image of images">
              <img [src]="image" alt="Imagen del punto de interés">
            </div>
          </div>
          <div class="nombre-punto-de-interes"> 

            <h1> titulo</h1>
            <p> ubicación</p>
      
           </div>
      
           <div class="username">
            <p> publicado por</p> <span> Ana V.</span>
      
           </div>
      
           <div class="description">
      
            <p> ...</p>
      
           </div>
         
        </div>
      </div>


    
    </ion-content>
    
  
