<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>

<ion-content class="body" [fullscreen]="true">
  
<div class="bill" routerLink="/detalle-factura">
  <div class="bill-2">
  <img class="bill-image" src="../../../assets/imgs/Grupo12187@3x.png" alt="">
  <div>
    <p class="bill-num">Factura nº 000002</p>
    <p class="date">18/09/2024</p>
  </div>
</div>
  <ion-icon class="arrow"  src="../../../assets/icons/Icon-ionic-ios-arrow-forward.svg"></ion-icon>
</div>

<div class="bill">
  <div class="bill-2">
  <img class="bill-image" src="../../../assets/imgs/Grupo12187@3x.png" alt="">
  <div>
    <p class="bill-num">Factura nº 000001</p>
    <p class="date">15/09/2024</p>
  </div>
</div>
  <ion-icon class="arrow"  src="../../../assets/icons/Icon-ionic-ios-arrow-forward.svg"></ion-icon>
</div>












</ion-content>
