.coments-content{
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    //border: 1px solid #CECECD;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(206, 206, 205);
    gap: 155px;
    padding: 5%;
}


.stars-content{
    display: flex;
    align-items: center;
    width: 80%;
}

.dog-service{
    color: #100F0F;
    font-family: LexendRegular;
    font-size: 15px;

}

.dog-name{
    font-family: LexendSemibold;
}

.date{
    color: #919191;
    font-family: LexendLight;
    font-size: 13px;
}

.right-arrow{
    transform: translateY(-20%) rotate(-90deg);
}