.coments-content{
    display: flex;
    align-items: center;
}


.stars-content{
    display: flex;
    align-items: center;
}

.dog-service{
    color: #100F0F;
    font-family: LexendRegular;
    font-size: 15px;
}

.date{
    color: #919191;
    font-family: LexendLight;
    font-size: 13px;
}