<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>

<ion-content [fullscreen]="true">
 
  <div class="coments-content" routerLink="detalle-valoraciones-paseador">
    <div>
    <div class="stars-content">
      <ion-icon src="../../../assets/icons/star.svg"></ion-icon>
      <ion-icon src="../../../assets/icons/star.svg"></ion-icon>
      <ion-icon src="../../../assets/icons/star.svg"></ion-icon>
      <ion-icon src="../../../assets/icons/star.svg"></ion-icon>
      <ion-icon src="../../../assets/icons/star.svg"></ion-icon>
    </div>
    <p class="dog-service">Paseo de día con <span class="dog-name">Moka</span></p>
    <p class="date">18/09/2024</p>
  </div>
  <ion-icon class="right-arrow" src="../../../assets/icons/Trazado 47843.svg"></ion-icon>
  </div>
  

  

</ion-content>

