<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>

<ion-content [fullscreen]="true">

  <div class="first">
    <div class="onion-1">
      <p>Tu plan</p>
      <ion-button class="first-button">Cambiar de plan</ion-button>
    </div>
    <div class="onion-2">
      <p class="anual-suscription">Suscripción anual</p>
      <p class="anual-price">89,90€ / al año</p>
    </div>
    <hr>
    <p class="next">Próxima renovación: <span> 24/12/2025</span></p>
  </div>

  <div class="second">
    <p class="next-2">Qué incluye tu plan</p>
    <div  class="onion-3">

      <ion-icon src="../../../assets/icons/check-suscripcion.svg"></ion-icon>
      <p class="save-expenses">Ahorras los gastos de comisión</p>
    </div>
    <div   class="onion-4">

      <ion-icon src="../../../assets/icons/check-suscripcion.svg"></ion-icon>
      <p class="save-expenses">Ahorras 12,50€ todos los meses</p>
    </div>
  </div>

  <div class="third">
    <div class="onion-5">
      <p class="pay-method">Método de pago</p>
      <ion-button class="edit">Editar</ion-button>
    </div>
    <div class="onion-6">
      <p class="visa">Tarjeta</p>
      <p class="visa-number">**** **** **** 0000</p>
    </div>

  </div>
  
</ion-content>
