.first{
    width: 90%;
    border-radius: 10pt;
    margin-left: 5%;
    margin-top: 5%;
    background: #FCF6E2;
    padding-top: 3%;
    padding-bottom: 3%;
}
.onion-1{
    display: flex;
    width: 90%;
    margin-left: 5%;
    gap: 135px;
}
.first-button{
    
    font-size: 14px;
    border-radius: 29px;
    margin-top: 6px;
    width: 144px;
    height: 32px;
    min-height: 32px;
    min-width: 143px;
}
.onion-2{
    display: flex;
    width: 90%;
    margin-left: 5%;
    gap: 78px;
    align-items: center;
}

.anual-suscription{
    font-size: 18px;
    color: #27323C;
    font-family: LexendRegular;
}

.anual-price{
    font-size: 14px;
    color: #27323C;
    font-family: LexendMedium;
}

hr{
    width: 90%;
    margin-left: 5%;
    background: #110F0F;
}

.next{
    margin-left: 5%;
    color: #27323C;
    font-family: LexendRegular ;
    font-size: 15px;

    span{
        font-family: LexendSemiBold;
    }
}


.second{
    border-radius: 10pt;
    width: 90%;
    margin-left: 5%;
    background: #FCF6E2;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.next-2{
    margin-bottom: 2%;
    margin-left: 5%;
    font-family: LexendSemiBold;
    font-size: 15px;
}
.onion-3{
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    gap: 15px;
}

.save-expenses{
    font-size: 16px;
    font-family: LexendLight;
}

.onion-4{
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    gap: 15px;
    margin-top: -4%;
}

.third{
    border-radius: 10pt;
    width: 90%;
    margin-left: 5%;
    background: #FCF6E2;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.onion-5{
    display: flex;
    width: 90%;
    margin-left: 5%;
    gap: 130px;
    align-items: center;
}

.pay-method{
    font-size: 15px;
    font-family: LexendSemiBold;
}


.edit{
    width: 76px;
    height: 32px;
    max-height: 32px;
    border-radius: 29px;
    font-size: 14px;
    font-family: LexendRegular ;
    min-height: 32px;

}

.onion-6{
    display: flex;
    width: 90%;
    margin-left: 5%;
    gap: 135px;
}

.visa{
    font-family: LexendRegular ;
    font-size: 18px;
}

.visa-number{
    font-family: LexendLight;
    font-size: 18px;
}