.first{
    width: 90%;
    border-radius: 10pt;
    margin-left: 5%;
    margin-top: 5%;
    background: #FCF6E2;
    padding-top: 3%;
    padding-bottom: 3%;
}
.onion-1{
    display: flex;
    width: 90%;
    margin-left: 5%;
    gap: 145px;
}
.first-button{
    
    font-size: 10pt;
    width: max-content;
    min-height: 10px;
    height: 35px;
    border-radius: 20px;
    margin-top: 6px;
}
.onion-2{
    display: flex;
    width: 90%;
    margin-left: 5%;
    gap: 80px;
}
hr{
    width: 90%;
    margin-left: 5%;
    background: #110F0F;
}

.next{
    margin-left: 5%;
}

.second{
    border-radius: 10pt;
    width: 90%;
    margin-left: 5%;
    background: #FCF6E2;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.next-2{
    margin-bottom: 2%;
    margin-left: 5%;
}
.onion-3{
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    gap: 15px;
}

.onion-4{
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    gap: 15px;
    margin-top: -4%;
}

.third{
    border-radius: 10pt;
    width: 90%;
    margin-left: 5%;
    background: #FCF6E2;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.onion-5{
    display: flex;
    width: 90%;
    margin-left: 5%;
}
.edit{
    width: auto;
    min-height: 10px;
    height: 30px;
    border-radius: 20px;
    font-size: 12pt;
}

.onion-6{
    display: flex;
    width: 90%;
    margin-left: 5%;
}