<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="image-container">

    <ion-avatar slot="start">
      <img src="assets/imgs/Rectángulo 19665@3x.png" alt="Foto de Marta A.">
    </ion-avatar>
    <ion-button> Editar imagen</ion-button>

  </div>

  
<div class="description-container">
  
  <h1>Nombre</h1>
  <ion-item class="nombre" >
    
    <p>Moka</p>
    
  </ion-item>

  <h2>Raza</h2>
  <ion-item class="raza" lines="none" >
    <ion-select class=" text-select "  toggleIcon="none" interface="popover"
    placeholder="Selecciona  una mascota" >
    
    <ion-select-option value="moka">Pug</ion-select-option>
    <ion-select-option value="mika">Beagle</ion-select-option>
    <ion-select-option value="nuka">Caniche</ion-select-option>
      
    </ion-select>
    <ion-icon slot="end" name="chevron-down" class="arrow-icon"></ion-icon>
  </ion-item>



  <h2>Edad</h2>
<ion-item class="edad">
  
  <p>2 años</p>
  
</ion-item>

<h2>Tamaño</h2>
<ion-item class="medida">
  <p class="valor">34,5</p>
  <span class="unidad">cm</span>
</ion-item>

<h2>Peso</h2>
<ion-item class="medida">
  <p class="valor">3</p>
  <span class="unidad">kg</span>
</ion-item>



<h2>Hembra/Macho</h2>
<ion-item class="raza" lines="none" >
  <ion-select class=" text-select "  toggleIcon="none" interface="popover"
  placeholder="Selecciona el sexo" >
  
  <ion-select-option value="moka">Macho</ion-select-option>
  <ion-select-option value="mika">Hembra</ion-select-option>
  
    
  </ion-select>
  <ion-icon slot="end" name="chevron-down" class="arrow-icon"></ion-icon>
</ion-item>

  <h2>¿Está en celo?</h2>
  <ion-item class="raza" lines="none" >
    <ion-select class=" text-select "  toggleIcon="none" interface="popover"
    placeholder="No" >
    
    <ion-select-option value="moka">Si</ion-select-option>
    <ion-select-option value="mika">No</ion-select-option>
    
      
    </ion-select>
    <ion-icon slot="end" name="chevron-down" class="arrow-icon"></ion-icon>
  </ion-item>

</div>

<ion-button class="save-btn" routerLink="/ajustes"> Guardar cambios</ion-button>
<ion-button class="delete-btn"> Borrar mascota</ion-button>


</ion-content>
