<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>

<ion-content [fullscreen]="true">
  
  <img class="fingerprint" src="../../../assets/imgs/Grupo12186@3x.png" alt="">
  <img class="map" src="../../../assets/imgs/Enmascarargrupo2@3x.png" alt="">
  

  <div>
    <div class="container-tipo">
      <p class="range">Rango de distancia</p>
      <div class="container-range">
        <p>Rango seleccionado: {{ rangoSeleccionado }} km</p>
        <input type="range" formControlName="paseosDia" min="0" max="10" step="0.1" (input)="onRangoChange($event)" />
      </div>
    </div>

  </div>









</ion-content>
