<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/login">
      <ion-button class="return-btn">
        <div class="container-icon">
          <ion-icon src="assets/icons/union-2.svg"></ion-icon>
        </div>
        <p>Recordar contraseña</p>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="container-text">
    <h2 class="ion-text-center">¿No recuerdas tu contraseña?</h2>
    <p class="text-expli"> Escribe tu email<br> y te enviaremos una nueva clave</p>
  </div>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="container-form">
      <div class="container-input">
        <ion-item>
          <ion-input clearInput type="text" placeholder="Email" formControlName="email" class="custom-input">
            <img slot="start" src="assets/icons/email.svg" alt="icono-personalizado" class="custom-icon" />
          </ion-input>
        </ion-item>
      </div>
      <div class="container-btn">
        <ion-button type="submit" class="btn-custom"><b>{{'FORGOT_PASSWORD.SEND' | translate }}</b></ion-button>
      </div>
    </div>
  </form>
</ion-content>