ion-header{

    ion-toolbar{
        --background: var(--custom-color-2);
        --padding-start: 0;
        --padding-bottom: 5px;

        .return-btn {
            font-family: Lexend, sans-serif;
            color: black;
            font-size: 16px;
            margin-top: 45px;
            margin-left: 5px;

            .container-icon{
                background-color: var(--custom-color);
                border-radius: 8px;
                padding: 8px;
                margin-right: 4px;
                
                ion-icon{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}

ion-content{

    font-family: Lexend, sans-serif;
    
    .container-text{
        margin-top: 90px;
        margin-bottom: 35px;

        .ion-text-center{
            font-family: Chewy, sans-serif;
            font-size: 30px;
        }
    
        .text-expli{
            font-size: 18px;
            text-align: center;
        }
    }

    
    
    .container-form{


        .container-input {
            border-radius: 10px;
            font-size: 15px;
            padding: 3px;
            border: 1px solid #acaaa5;
            color: #acaaa5;
        }

        .container-btn {
            padding-top: 12px;
            padding-bottom: 20px;
    
            .btn-custom {
                --background: var(--custom-color);
                --border-color: transparent;
                --box-shadow: none;
                color: black;
                width: 100%;
                font-size: 16px;  
                height: 58px;
            }
        }
    }
    
}

ion-item {
    --border-color: transparent;
    --box-shadow: none;
}