<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/login">
      <ion-button>
        <div class="container-tittle">
          <ion-icon name="arrow-back"></ion-icon>
          <p>Recordar contraseña</p>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h2 class="ion-text-center">¿No recuerdas tu contraseña?</h2>
  <p> Escribe tu email y te enviaremos una nueva clave</p>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="container-input">
      <ion-item>
        <ion-input clearInput type="text" placeholder="Email" formControlName="email" class="custom-input">
          <img slot="start" src="assets/icons/email.svg" alt="icono-personalizado" class="custom-icon" />
        </ion-input>
      </ion-item>
    </div>
    <div class="container-btn">
      <ion-button type="submit" class="btn-custom">{{'FORGOT_PASSWORD.SEND' | translate }}</ion-button>
    </div>

  </form>
</ion-content>