<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class= "edit-container" >
  <ion-avatar class="avatar">
    <img src="assets/imgs/usuarios/Rectángulo 19665@3x.png" alt="User Avatar">
  </ion-avatar>
  <ion-button> Editar imagen</ion-button>
</div>


<div class="description-container">
  
  <h1>Nombre</h1>
  <ion-item class="nombre" >
    
    <ion-input placeholder="Marta Rodríguez"></ion-input>
    
  </ion-item>

  <h2>Ubicación</h2>
  <ion-item class="ubicacion">
    
    <ion-input placeholder="Jerez de la Frontera, Cádiz"></ion-input>
    
  </ion-item>



  <h2>Descripción</h2>
  <ion-item class="descripcion">
    <ion-textarea placeholder="Mi perrita Moka lo es todo para mí. Le encanta jugar a la pelota, salir a explorar y hacer nuevos amigos. &#10;¡Solo lo mejor para ella! 🐕"></ion-textarea>
  </ion-item>
  
</div>

<ion-button class="save-btn" routerLink="/galeria"> Guardar cambios</ion-button>


</ion-content>
