<ion-content>
  <ion-button class="return-btn" routerLink="/bienvenida">
    <div class="container-icon">
      <ion-icon src="assets/icons/union-2.svg"></ion-icon>
    </div>
  </ion-button>
  <div class="container">
    <h2><b>Selecciona el tipo <br>de usuario</b></h2>
    <form id="tipoUsuarioForm">
      <div class="apartado-eleccion-custom" onclick="">
        <img src="assets/icons/acceso-cliente.svg" alt="icono-cliente">
        <p>Quiero acceder <br>como <b>dueño de una mascota</b></p>
      </div>
      <div class="apartado-eleccion" onclick="">
        <img src="assets/icons/acceso-paseador.svg" alt="icono-cliente">
        <p>Quiero acceder <br>como <b>paseador de perros</b></p>
      </div>
      <div class="apartado-eleccion" onclick="">
        <img src="assets/icons/acceso-empresa.svg" alt="icono-cliente">
        <p>Quiero acceder <br>como <b>veterinaria, peluquería...</b></p>
      </div>
      <div class="container-btn">
        <ion-button class="btn-custom" type="submit" routerLink="/login">Aceptar y continuar</ion-button>
      </div>
    </form>
  </div>
</ion-content>