<ion-content>
  <div class="container">
    <h2><b>Selecciona el tipo <br>de usuario</b></h2>
    <div class="apartado-eleccion-custom">
      <img src="assets/icons/acceso-cliente.svg" alt="logotipo">
      <p><b>Quiero acceder <br>como dueño de una mascota</b></p>
    </div>

    <div class="apartado-eleccion">
      <img src="assets/icons/acceso-paseador.svg" alt="logotipo">
      <p>Quiero acceder <br>como paseador de perros</p>
    </div>

    <div class="apartado-eleccion">
      <img src="assets/icons/acceso-empresa.svg" alt="logotipo">
      <p>Quiero acceder <br>como veterinaria, peluquería...</p>
    </div>

    <div>
      <ion-button class="btn-custom"><b>Aceptar y continuar</b></ion-button>
    </div>
    

  </div>
  
</ion-content>
