ion-content {
    --background: url("../../../assets/imgs/backgrounds/SELECCIONAR-USUARIO.png") no-repeat center / cover;

    .return-btn {
        margin-top: 70px;
        padding: 0;
        width: 0;
        margin-left: 20px;
        --box-shadow: none;
        --outline: none;
        --background: transparent;

        .container-icon {
            background-color: var(--custom-color);
            border-radius: 8px;
            padding: 8px;
            margin-right: 4px;

            ion-icon {
                width: 16px;
                height: 16px;
            }
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: LexendBold;
        margin-top: 20px;
        padding-bottom: 0;
        width: 90%;
        margin-left: 20px;

        .enum {
            width: 100%;
            margin-bottom: 20px;
            padding: 0;

            h2 {
                margin: 0;
                color: black;
                font-size: 30px;
                text-align: left;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }

        .apartado-eleccion {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            border-radius: 10px;
            margin: 10px 0;
            width: 100%;
            padding: 20px;
            margin-bottom: 20px;
            transition:
                background-color 0.3s ease,
                border 0.3s ease;

            img {
                width: 15%;
                height: auto;
                margin-right: 30px;
                margin-left: 10px;
            }

            .texto-normal {
                font-family: LexendLight;
                font-size: 16px;
            }

            .texto-destacado {
                font-family: LexendMedium;
                font-size: 16px;
            }
        }

        .apartado-eleccion {
            background-color: white;
            border: 1px solid #acaaa5;
            color: #acaaa5;
        }

        .seleccionado {
            background-color: var(--custom-color);
            color: black;
            border: none;
            fill: #ffa500;
        }

        .container-btn {
            width: 100%;
            margin-top: 5px;
            padding: 0;
            margin-left: 0;
        }
    }
}
