<ion-content>
  <ion-button class="return-btn" routerLink="/bienvenida">
    <div class="container-icon">
      <ion-icon src="assets/icons/union-2.svg"></ion-icon>
    </div>
  </ion-button>
  
  <div class="container">
    <div class="enum">
      <h2>Selecciona el tipo de usuario</h2>
    </div>

    <form id="tipoUsuarioForm">
      <div [ngClass]="{'seleccionado': esSeleccionada('dueño')}" class="apartado-eleccion" (click)="seleccionarOpcion('dueño')">
        <img [src]="obtenerRutaIcono('dueño')" alt="icono-cliente">
        <p>
          <span class="texto-normal">Quiero acceder<br> como</span>
          <span class="texto-destacado"> dueño de una mascota</span>
        </p>
      </div>

      <div [ngClass]="{'seleccionado': esSeleccionada('paseador')}" class="apartado-eleccion" (click)="seleccionarOpcion('paseador')" routerLink="/login-usuario-paseador">
        <img [src]="obtenerRutaIcono('paseador')" alt="icono-paseador">
        <p>
          <span class="texto-normal">Quiero acceder<br> como</span>
          <span class="texto-destacado"> paseador de perros</span>
        </p>
      </div>

      <div [ngClass]="{'seleccionado': esSeleccionada('empresa')}" class="apartado-eleccion" (click)="seleccionarOpcion('empresa')">
        <img [src]="obtenerRutaIcono('empresa')" alt="icono-empresa">
        <p>
          <span class="texto-normal">Quiero acceder<br> como</span>
          <span class="texto-destacado"> veterinaria, peluquería...</span>
        </p>
      </div>

      <div class="container-btn">
        <ion-button class="btn-custom" type="submit" routerLink="/login">Aceptar y continuar</ion-button>
      </div>
    </form>
  </div>
</ion-content>
