ion-content {
    --background: url("../../../assets/imgs/backgrounds/SELECCIONAR-USUARIO.png") no-repeat center / cover;

    .return-btn {
        margin-top: 70px;
        margin-left: 5px;
        padding: 0;
        --box-shadow: none; 
        --outline: none; 
        --background: transparent;

        .container-icon {
            background-color: var(--custom-color);
            border-radius: 8px;
            padding: 8px;
            margin-right: 4px;

            ion-icon {
                width: 16px;
                height: 16px;
            }
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: flex-start; 
        height: 100vh; 
        font-family: Lexend, sans-serif;
        margin-top: 20px;

        h2 {
            margin-right: 28%;
            color: black;
            margin-bottom:35px;
            font-size: 30px;
            text-align: start;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center; 
            width: 90%; 
        }

        .apartado-eleccion-custom,
        .apartado-eleccion {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            border-radius: 10px;
            margin: 10px 0; 
            width: 100%; 
            padding: 20px;
            margin-bottom: 20px;

            img {
                width: 15%;
                height: auto;
                margin-right: 30px;
                margin-left: 10px;
            }

            p {
                margin-top: 10px;
                font-size: 16px;
            }
        }

        .apartado-eleccion-custom {
            background-color: var(--custom-color);
            color: black;
        }

        .apartado-eleccion {
            background-color: white;
            border: 1px solid #acaaa5;
            color: #acaaa5;
        }

        .container-btn {
            margin-top: 15px;
            width: 100%;

            .btn-custom {
                --background: var(--custom-color);
                --box-shadow: none; 
                color: black;
                width: 100%;
                font-size: 16px;
                height: 58px;
            }
        }
    }
}
