<app-app-header [headerText]="dynamicHeaderText"></app-app-header>



<ion-content [fullscreen]="true">

  <p class="when-walk">{{ dynamicText }}</p>
  
  <ion-radio-group>
     
      <div class="checkboxes">
        <ion-radio class="button-radio"></ion-radio>
        <p class="price">Todos los días</p>
      </div>
      <div class="checkboxes">
        <ion-radio class="button-radio"></ion-radio>
        <p class="price">Lunes a Viernes</p>
      </div>
      <div class="checkboxes">
        <ion-radio class="button-radio"></ion-radio>
        <p class="price">Personalizado</p>
      </div>
 
    </ion-radio-group>

    <div class="categories" >
      <ion-button class="button_1" *ngFor="let button of buttons" (click)="color(button.id)" [ngClass]="{'amarillo':button.checked}">
        {{button.text}}
      </ion-button> 
    </div>

    <hr>

    <p class="when-walk">¿Cuál será tu horario?</p>

    <ion-radio-group>
     
      <div class="checkboxes">
        <ion-radio class="button-radio"></ion-radio>
        <p class="price">Horario completo</p>
      </div>
      <div class="checkboxes">
        <ion-radio class="button-radio"></ion-radio>
        <p class="price">Mañana (8:00 a 12:00 horas)</p>
      </div>
      <div class="checkboxes">
        <ion-radio class="button-radio"></ion-radio>
        <p class="price">Tardes (15:00 a 21:00 horas)</p>
      </div>
      <div class="checkboxes">
        <ion-radio class="button-radio"></ion-radio>
        <p class="price">Personalizado</p>
      </div>
 
    </ion-radio-group>

    <p class="morning-afternoon">Mañanas</p>

    <div class="from">
      <p class="text-from">Desde:</p>
      <ion-item class="time">
      <ion-input placeholder="08:30"></ion-input>
      </ion-item>
    <p class="text-from">Hasta:</p>
    <ion-item class="time">
      <ion-input placeholder="12:30"></ion-input>
      </ion-item>
    </div>
    <p class="morning-afternoon">Tardes</p>

    <div class="from">
      <p class="text-from">Desde:</p>
      <ion-item class="time">
        <ion-input placeholder="08:30"></ion-input>
        </ion-item>
    <p class="text-from">Hasta:</p>
    <ion-item class="time">
      <ion-input placeholder="12:30"></ion-input>
      </ion-item>
    </div>

    <hr>

    <p class="rest-days">Días de descanso</p>

    <p class="remember">Selecciona que días no estarás disponible.</p>

    <p class="remember">Recuerda que sólo podrás escoger los días que no <br>
    tengas inguna solicitud de paseo previamente <br>
  aceptada.</p>

  <div class="calendario-custom">
    <ion-datetime presentation="date"></ion-datetime>
  </div>

  <!-- <div class="calendar-content">
  <ion-datetime color="transparent" display-format="YYYY-MM-DD" [multiple]="true" id="custom-datetime" class="calendar" presentation="date" [firstDayOfWeek]="1"></ion-datetime>
  </div> -->

  <!-- <full-calendar #calendar [options]="calendarOptions">
    
    <ng-template #eventContent let-arg>
      <a class="fc-event fc-event-draggable fc-event-resizable fc-event-start fc-event-end fc-event-future fc-daygrid-event fc-daygrid-dot-event">
        <div class="fc-daygrid-event-dot" style="border-color: transparent;">
        </div>
      </a>
    </ng-template>
  </full-calendar> -->










<!-- ///////////////////////////////////////////// -->
  
  <div class="selected-days">
    <div class="content-chip">
    <ion-chip class="circle-1"></ion-chip>
    <p class="circle-text">Trabajo</p>
  </div>
  <div class="content-chip">
    <ion-chip class="circle-2"></ion-chip>
    <p class="circle-text">Día de descanso</p>
  </div>
  <div class="content-chip">
    <ion-chip class="circle-3"></ion-chip>
    <p class="circle-text">Día seleccionado</p>
  </div>
  </div>

  <ion-button class="last-button">Guardar cambios</ion-button>

  

  
</ion-content>

<!-- <ion-modaltrigger="open_modal" #open_modal [initialBreakpoint]="1" [breakpoints]="[0, 1]">

<ion-datetime presentation="time"></ion-datetime>

</ion-modal> -->