.when-walk{
    color: #2B2828;
    font-family: LexendMedium;
    font-size: 18px;
    margin-left: 5%;
}

.selection{
    display: flex;
    align-items: center;
    margin-left: 5%;
    gap: 20px;
}

.checks{
    --size: 26px;
    --border-width: 1px;
    --border-radius: 5px;
    --background: transparent;
    --border-color: #919191;
    width: 26px;
    height: 26px;
    --checkmark-color: black;   
}

.checks [checked]{
    --background: #FFD954;  
}

.text-checbox{
    color: #3E3E3E;
    font-family: LexendRegular;
    font-size: 14px;   
}

.prueba{
    border: 1px solid #919191;
}

.checkboxes{
    display: flex;
    align-items: center;
    margin-left: 5%;
    gap: 20px;

}


ion-radio::part(container) {
    width: 26px;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #919191;
  }
  
  ion-radio::part(mark) {
    background: none;
    transition: none;
    transform: none;
    border-radius: 0;
  }
  
  ion-radio.radio-checked::part(container) {
    background: #FFD954;
    border-color: transparent;
  }
  
  ion-radio.radio-checked::part(mark) {
    width: 6px;
    height: 10px;
  
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: black;
  
    transform: rotate(45deg);
  }

  .categories{
    display: flex;
    //flex-direction: column;
    gap: 2px;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    
}
.button_1{
    --background:transparent;
    border: 1px solid;
    border-radius: 30px;
    color: #919191;
    font-family: LexendRegular;
    font-size: 14px;
    width: 85px;
    //flex: 1;
    min-width: 85px;
    border-color: #919191;
    height: 35px;
    min-height: 10px;
    
    
}
.amarillo{
    background: #FFD954;
    border: 1px solid #FFD954;
    color: #100F0F;
    font-family: LexendRegular;
    font-size: 14px;
    width: 85px;
    //flex: 1;
    min-width:85px;
    height: 35px;
    min-height: 10px;
    border-radius: 30px;

}

.morning-afternoon{
    color: #3E3E3E;
    font-family: LexendRegular;
    font-size: 16px;
    margin-left: 5%;
}

.time:focus-within {
 
    border: 1px solid #FFCA3C; /* Aplica el borde a todos los lados */
  
  }

.time{
    width: 96px;
    height: 39px;
    border: 1px solid #919191;
    border-radius: 5px ;
    display: flex;
    padding-left: 5%;
    align-items: center;
    --background: transparent;
}


.from{
    display: flex;
    align-items: center;
    margin-left: 5%;
    gap: 10px;
}

.text-from{
    color: #3E3E3E;
    font-family: LexendLight;
    font-size: 15px;
}

.hour-yellow{
    color: #3C3A3D;
    font-family: LexendRegular;
    font-size: 16px;
}

.hour-from{
    color: #919191;
    font-family: LexendRegular;
    font-size: 16px;
}

.rest-days{
    color: #2B2828;
    font-family: LexendMedium;
    font-size: 18px;
    margin-left: 5%;
}

.remember{
    color: #919191;
    font-family: LexendRegular;
    font-size: 15px;
    margin-left: 5%;
}

.selected-days{
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    gap: 15px;
}

.content-chip{
    display: flex;
    gap: 3px;
    align-items: center;
}

.circle-1{
    width: 15px;
    height: 15px;
    border-radius: 50%; /* Hace que el chip sea redondo */
    padding: 0; /* Elimina el espacio interno */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFD954;
    min-height: 5px; 
}

.circle-2{
    width: 15px;
    height: 15px;
    border-radius: 50%; /* Hace que el chip sea redondo */
    padding: 0; /* Elimina el espacio interno */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E0E0E0;
    min-height: 5px; 
}

.circle-3{
    width: 15px;
    height: 15px;
    border-radius: 50%; /* Hace que el chip sea redondo */
    padding: 0; /* Elimina el espacio interno */
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    min-height: 5px;
    border: 0.5px solid #FFD954; 
}

.circle-text{
    color: #2B2828;
    font-size: 14px;
    font-family: DMSansRegular;
}

.last-button{
    width: 90%;
    height: 58px;
    margin-left: 5%;
    color: #141411;
    font-family: LexendMedium;
    font-size: 16px;
    margin-top: 10%;
    margin-bottom: 10%;

}

////////////////////////CALENDARIO///////////////////////

// ion-item {
//     margin: 0px;
//     margin-top: 8px;
//     margin-bottom: 8px;

//     --border-radius: 6px;
//     font-size: 15px;

//     --background: #343232;

//     --padding-start: 0px;

//     div{
//         height: 100%;
//         width: 64px;
//         display: flex;
//         flex-flow: row;
//         justify-content: center;
//         align-items: center;
//         background: #5F5959;

//         &.color1{
//             background: #B441A5 !important;
//         }
    
//         &.color2{
//             background: #872FC2 !important;
//         }
//     }

//     &.color1{
//         --background: #88227A !important;
//     }

//     &.color2{
//         --background: #51127C !important;
//     }
// }


// ion-label {
//     color: white !important;
//     max-width: 400px;
//     margin-left: 20px;
// }

// ion-label p{
//     margin-bottom: 0% !important;
//     margin-top: 8px;
//     color: white !important;
// }

// ion-icon {
//     color: rgba(255, 255, 255, 0.806);
// }

// .icono {
//     height: 50px;
//     width: 50px;
//     margin-right: 5%;
//     background-color: #ffffff21;
// }

// img {
//     display: flex;
//     text-align: center;
//     justify-content: center;
//     align-items: center;
//     padding-left: 4px !important;
//     margin: 0;
//     margin-right: 16px; 
// }

// .campana{
//     padding-left: 5px !important;
// }

// ion-item ion-icon {
//     font-size: 20px; 
// }


// ion-fab{
//     bottom: 16px;
    
//     ion-fab-list{
//         display: flex;
//         gap: 5px;
//         margin: 88px auto;
//         flex-flow: column-reverse;
//         justify-content: center;
//         align-items: center;
//         width: 100%;
//     }

//     ion-fab-button{
//         height: 78px;
//         width: 78px;
        
//         &.calls{
//             --background: #B441A5;
//             --background-activated: #88227A;
//             height: 54px;
//             width: 54px;
//         }
//         &.dates{
//             --background: #872FC2;
//             --background-activated: #51127C;
//             height: 54px;
//             width: 54px;

//         }
//         &.reminders{
//             --background: #5F5959;
//             --background-activated: #343232;
//             height: 54px;
//             width: 54px;

//         }
//     }
// }

full-calendar{
 
    font-family: LexendRegular !important;
   
   
}
 
::ng-deep .fc-toolbar-chunk{
 
   
    .fc-toolbar-title{
 
        font-size: 14px !important;  
    }
    .fc-button-group{
 
        gap: 0 !important;
        margin: 0 !important;
       font-size: 1px!important;
       
       
    }
   
   
        .fc-icon{
            font-size: 14px !important;  
            color: #2B2828!important;
         
        }
   
}
 
 
 
::ng-deep .fc .fc-daygrid-day-number {
    color: #919191 !important; /* Cambia este color */
    font-family: LexendRegular !important;
    font-weight: 500 !important;
    font-size: 16px !important;
  }
 
  ::ng-deep .fc .fc-day-today .fc-daygrid-day-number {
    color: #273c2d !important; /* Cambia el color del día actual */
    font-family: LexendSemiBold !important;
   
  }
 
  ::ng-deep .fc .fc-day-sat .fc-daygrid-day-number,
  ::ng-deep .fc .fc-day-sun .fc-daygrid-day-number {
    color: #919191  !important; /* Cambia el color de los días de fin de semana */
    font-family: LexendRegular !important;
  }
 
  ::ng-deep .fc-col-header-cell-cushion  {
    color: #919191!important;
    font-family: LexendRegular !important;
    font-size: 14px;
    font-weight: 500;
  }
 
.fc-event {
    background-color: #FFD954 !important;
   
  }

  ::ng-deep .fc-event-main{
    color: #100F0F;
  }


  /*ion-datetime{
    --ion-color-base: #2B2828 !important;
    --background: white;
    --ion-font-family: LexendRegular;
    --color: #919191 !important;
    --ion-color-contrast: #100F0F !important;
    --ion-color-primary-rgb: 255, 217, 84 !important;
    
    .calendar-day.calendar-day-active {
        background: rgba(var(--ion-color-base-rgb), 1);
        font-size: min(1.375rem, 35.2px);
      }

    
  }*/