ion-header {
    --padding-start: 0;
    --padding-end: 0;
    height: 200px;

    ion-toolbar {
        --background: url(../../../assets/imgs/backgrounds//PATTERN-HEADER.png) no-repeat center / cover;
        height: 100%;
        display: flex;
        align-items: center;

        .titular {
            font-size: 20px;
            font-family: LexendMedium;
            margin-top: 55px;
            color: #100f0f;

            .nombre {
                font-family: LexendSemiBold;
            }
        }

        .barra-busqueda-container {
            display: flex;
            align-items: center;
            width: 100%;
            height: 35px;
            margin-bottom: 10px;
            margin-top: auto;

            ion-searchbar {
                --border-radius: 10px;
                --box-shadow: 0;
                --icon-color: #110f0f;
                --background: #ffffff;

                font-family: LexendRegular;
                color: #a5a5a5;
                font-size: 15px;
                height: 100%;
                padding: 0 10px;
                padding-left: 0;

                input {
                    height: 100%;
                }

                input::placeholder {
                    color: #a5a5a5;
                    font-size: 15px;
                }
            }

            .filtro-container {
                margin-left: 2px;
                width: 45px;
                height: 100%;
                background-color: #000000;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .filtro-container ion-icon {
                width: 20px;
                height: 20px;
            }
        }
    }
}
ion-content {
    .container-paseador {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 8px #cececd;
        margin: 10px;
        margin-left: 15px;
        margin-right: 15px;
        overflow: hidden;

        .container-fotoperro {
            width: 100%;
            height: 110px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .container-datos {
            display: flex;
            padding: 10px;
            align-items: center;
            margin-bottom: 5px;

            .container-fotousuario {
                width: 70px;
                height: auto;
                border-radius: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .container-info {
                margin-left: 10px;

                .nombre,
                .distancia,
                .precio {
                    margin-top: 0;
                    margin-bottom: 5px;
                }

                .nombre {
                    font-family: LexendRegular;
                    font-size: 16px;
                }

                .distancia {
                    font-family: LexendLight;
                    font-size: 14px;
                    color: #919191;
                }

                .precio {
                    font-family: LexendLight;
                    font-size: 16px;
                    color: #100f0f;
                    display: flex;
                    align-items: center;

                    .valoracion {
                        display: flex;
                        align-items: center;
                        margin-left: 5px;

                        ion-icon {
                            font-size: 14px;
                        }

                        .nota {
                            font-family: LexendRegular;
                            margin-left: 3px;
                        }
                    }
                }
            }

            .signoDirigir {
                position: absolute;
                right: 30px;
                transform: translateY(-20%) rotate(-90deg);
                width: 13px;
                height: 13;
            }
        }
    }
}
