<ion-header class="ion-no-border">
  <ion-toolbar>
    <p>Hola Marta,<br>¿necesitas un paseador?</p>
    <div class="barra-busqueda-container">
      <ion-searchbar placeholder="Buscar"></ion-searchbar>
      <ion-icon src="assets/icons/filtros.svg" class="filtro"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-container">
      <div class="footer-item">
        <ion-icon src="assets/icons/toolbarFooter/tab-paseadores.svg"></ion-icon>
        <ion-label>Paseadores</ion-label>
      </div>
      <div class="footer-item">
        <ion-icon src="assets/icons/toolbarFooter/tab-interes.svg"></ion-icon>
        <ion-label>De Interés</ion-label>
      </div>
      <div class="footer-item">
        <ion-icon src="assets/icons/toolbarFooter/tab-servicios.svg"></ion-icon>
        <ion-label>Servicios</ion-label>
      </div>
      <div class="footer-item">
        <ion-icon src="assets/icons/toolbarFooter/tab-mensajes.svg"></ion-icon>
        <ion-label>Mensajes</ion-label>
      </div>
      <div class="footer-item">
        <ion-icon src="assets/icons/toolbarFooter/tab-perfil.svg"></ion-icon>
        <ion-label>Mi perfil</ion-label>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>