ion-tabs {
    
    ion-tab-bar {
        --ion-color-primary: #000000;
        --ion-color-primary-contrast: #151414;
        --background: #ffff;
        font-family: LexendMedium;
        font-size: 11px;
        padding-bottom: 22px;
        padding-top: 5px;
        box-shadow: 0 -1px 8px #EAE9E5;
        border: none;
        
        ion-tab-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            --color: #C1BBBB;
            flex: 1;
            padding: 4px 0;

            ion-icon {
                font-size: 25px;
            }

            ion-label {
                font-size: 11px;
                margin-top: 4px;
            }

            &.tab-selected {
                --color: #000000;
            }
        }
    }
}
