.container-fotoperro {
  
  
    .button-container {
      display: flex;
      justify-content: space-between; // Distribuir los botones
      position: absolute;
      left: 10px;
      top: 65px;
      width: calc(100% - 30px); // Para evitar que los botones toquen los bordes
  
      ion-buttons {
        display: flex;
        justify-content: space-between; // Alinear los botones
        width: 100%; // Asegura que ocupen todo el ancho
      }
  
      ion-button {
        --box-shadow: none;
        --outline: none;
        --background: #FFD954;
        padding: 0;
        margin: 0;
        --border-radius: 8px;
  
        // Ajuste de tamaño
        width: 35px; // Ancho del botón
        height: 35px; // Alto del botón
  
        ion-icon {
          width: 18px;
          height: 18px;
        }
      }
    }
  
    .swiper {
      width: 100%;
      
  
      .swiper-wrapper {
        display: flex;
        align-items: center;
      }
    }
  }
 
  .nombre-punto-de-interes{

  h1{
    color: #110F0F;
    font-size: 20px;
    font-family: LexendMedium !important;
  }
  p{

    color: #808080;
    font-family: LexendLight !important;
    font-size: 14px;
  }
}
.category-button{
    --background:#F0941A;
    color:#FFFFFF;
    font-size: 12px;
    height: auto;
    width: 190px;
    
    ion-icon{
        margin-right: 5px;
        height: 11px;
        width: 11px;
        color: white !important;
    }

}


.username{

    margin-top: 15px;
    display: flex;
  align-items: center;

    p{
        font-family: LexendLight !important;
        color:#110F0F;
        font-size: 14px;

    }
    span{
        font-family: LexendSemiBold !important;
        font-size: 14px;
    }
    .avatar-icon {
        width: 28px; 
        height: 28px;
        border-radius: 50%; 
        margin: 0 5px; 
      }
}

.description{

    p{
        font-family: LexendLight !important;
        color:#110F0F;
        font-size: 15px; 
    }
}