ion-content {
    .container-a {
        margin-top: 23px;
        margin-bottom: 23px;
        .forgot-password {
            display: flex;
            justify-content: center;
            margin: 10px 0;
            color: #141411;
            font-size: 15px;
            font-family: LexendSemiBold;
        }
    }

    .container-btn {
        margin-right: 15px;
        margin-left: 15px;
    }
}

a {
    font-family: LexendBold;
}

.footer-content {
    text-align: center;
    padding: 20px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
}

.custom-p, .custom-p2 {
    font-family: LexendRegular;
    font-size: 15px;
    margin-bottom: 5px;
    color: #1B1B1B;
}

.custom-p2{
    color: #919191;
}

.enlace-registro {
    color: #141411;
}

.correo {
    font-family: LexendSemiBold;
}

