<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>

<ion-content [fullscreen]="true">
 
  <ion-segment *ngIf="userRole !== 'empresa'" value="default">
    <ion-segment-button value="default">
      <ion-label>Paseos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Servicios</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div  class="container-paseador">
    <div class="container-opinion">
      <div class="container-datos"  [routerLink]="detalleRuta">
        <ion-icon class="signoDirigir" slot="start" src="assets/icons/Trazado 47843.svg"></ion-icon>
        <div class="container-info">
          <p class="precio">
            <span class="valoracion">
              <ion-icon slot="start" src="assets/icons/star.svg"></ion-icon>
              <ion-icon slot="start" src="assets/icons/star.svg"></ion-icon>
              <ion-icon slot="start" src="assets/icons/star.svg"></ion-icon>
              <ion-icon slot="start" src="assets/icons/star.svg"></ion-icon>
              <ion-icon slot="start" src="assets/icons/star.svg"></ion-icon>
            </span>
          </p>

          <p class="nombre">{{ paseoNombre }}<br><span class="paseador">{{ nombrePaseador }}</span></p>

          <p class="tiempo">{{ paseoFecha }}</p>

         
        </div>
      </div>
     
    </div>
  </div>

</ion-content>
