<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>

<ion-content [fullscreen]="true">
 
  <div  class="container-paseador">
    <div class="container-opinion">
      <div class="container-datos">
        <ion-icon class="signoDirigir" slot="start" src="assets/icons/Trazado 47843.svg"></ion-icon>
        <div class="container-info">
          <p class="precio">
            <span class="valoracion">
              <ion-icon slot="start" src="assets/icons/star.svg"></ion-icon>
              <ion-icon slot="start" src="assets/icons/star.svg"></ion-icon>
              <ion-icon slot="start" src="assets/icons/star.svg"></ion-icon>
              <ion-icon slot="start" src="assets/icons/star.svg"></ion-icon>
              <ion-icon slot="start" src="assets/icons/star.svg"></ion-icon>
            </span>
          </p>

          <p class="nombre">Paseo de día con Ana Velázquez</p>
          <p class="tiempo">18/09/2024</p>

         
        </div>
      </div>
     
    </div>
  </div>

</ion-content>
