<ion-content [fullscreen]="true">
  <div *ngFor="let paseador of paseadores" class="container-paseador">
    <div class="container-fotoperro">
      <div class="button-container">
        <ion-buttons slot="start">
          <ion-button class="return-btn"  (click)="goBack()">
            <div class="container-icon">
              <ion-icon src="assets/icons/union-2.svg"></ion-icon>
            </div>
          </ion-button>
        </ion-buttons>
      </div>
      <swiper-container [pagination]="true">
        <swiper-slide *ngFor="let imagen of paseador.imagenes">
          <img [src]="imagen" alt="Imagen del perro de {{ paseador.nombre }}">
        </swiper-slide>
      </swiper-container>
    </div>
    <div class="container-datos">
      <div class="container-fotousuario">
        <img [src]="paseador.imgUsuario" alt="Foto de {{ paseador.nombre }}">
      </div>

      <div class="container-info">

        <p class="nombre">{{ paseador.nombre }}</p>

        <p class="localizacion">
          <img src="assets\icons\Trazado 47654.png">
          <span class="nombreLugar">{{ paseador.localizacion }}</span>
        </p>

        <p class="opinion">
          <span class="valoracion">
            <ion-icon slot="start" src="assets/icons/star.svg"></ion-icon>
            <span class="nota">{{ paseador.valoracion }}</span>
          </span>
          <a routerLink="/valoraciones" class="opiniones">{{ paseador.opiniones }} opiniones</a>
        </p>
      </div>
    </div>
    <div *ngFor="let paseador of paseadores" class="container-paseador">

      <div class="container-detalles">
        <h2>Tipo de paseo</h2>
        <div *ngFor="let tipo of tipoPaseo" class="detalles">
          <li>{{ tipo }}</li>
        </div>
      </div>
      <hr>
      <div class="container-detalles">
        <h2>Mascotas que acepta</h2>
        <div *ngFor="let acepta of mascotasAcepta; let i = index" class="detalles">
          <li>
            <span>
              {{ mostrarTextoCompleto[i] ? acepta : acepta | slice:0:80 }}
              <span *ngIf="acepta.length > 80 && !mostrarTextoCompleto[i]" (click)="alternarVerMas(i)" class="ver-mas">
                Ver más
              </span>
              <span *ngIf="mostrarTextoCompleto[i]" (click)="alternarVerMas(i)" class="ver-mas">
                Ver menos
              </span>
            </span>
          </li>
        </div>
      </div>
      <hr>
      <div class="container-detalles">
        <h2>Servicios extra</h2>
        <div *ngFor="let servicio of serviciosExtra" class="detalles">
          <li>{{ servicio }}</li>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="container-footer">
    <div class="container-acciones-btn">
      <ion-button class="btn-custom-2" routerLink="/perfil-paseador">Ver perfil</ion-button>
      <ion-button id="open-modal">Enviar solicitud</ion-button>
      <ion-modal class="modal-principal" trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
        <ng-template>
          <ion-content>
            <div class="container-modal">
              <h2 class="tittle">Solicitud de paseo</h2>
            </div>
            <hr>
            <div *ngFor="let paseador of paseadores" class="container-paseador">
              <div class="container-modal">
                <div class="container-datos">
                  <div class="container-fotousuario">
                    <img [src]="paseador.imgUsuario" alt="Foto de {{ paseador.nombre }}">
                  </div>

                  <div class="container-info" routerLink="/detalle-paseo">

                    <p class="nombre">{{ paseador.nombre }}</p>

                    <p class="precio">
                      <span class="valoracion">
                        <ion-icon slot="start" src="assets/icons/star.svg"></ion-icon>
                        <span class="nota">{{ paseador.valoracion }}</span>
                      </span>
                      &nbsp;· {{ paseador.precio }}/ {{ paseador.duracion }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div *ngIf="modal === 1">
              <div class="container-modal">
                <div class="calendario-custom">
                  <ion-datetime presentation="date" display-format="YYYY-MM-DD" [firstDayOfWeek]="1"></ion-datetime>
                </div>
              </div>
              <hr>
              <div class="container-modal">
                <h2>Selecciona una hora disponible</h2>
                <div class="container-hora">
                  <ion-icon slot="start" name="time-outline"></ion-icon>
                  <ion-datetime-button datetime="datetime"></ion-datetime-button>

                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>

                      <ion-datetime id="datetime" presentation="time" value="2023-11-02T01:22:00"
                        [formatOptions]="{ hour: '2-digit', minute: '2-digit', hour12: true }"> </ion-datetime>

                    </ng-template>
                  </ion-modal>
                </div>

              </div>
              <div class="container-modal">
                <ion-button (click)="siguientePaso()">Continuar</ion-button>
              </div>
            </div>
            <div *ngIf="modal === 2">
              <div class="container-modal">
                <h2>¿Qué mascota participará?</h2>
                <div class="container-mascota-eleccion">
                  <ion-select label-placement="floating" interface="action-sheet" value="Moka">
                    <ion-select-option value="Moka">Moka</ion-select-option>
                    <ion-select-option value="Lucas">Lucas</ion-select-option>
                    <ion-select-option value="Xana">Xana</ion-select-option>
                  </ion-select>
                </div>
              </div>
              <hr>
              <div class="container-modal">
                <h2>Selecciona un servicio extra (No obligatorio)</h2>
                <div class="container-check" *ngFor="let servicio of serviciosExtraPrecio">
                  <p>
                    {{ servicio.nombre }} <span class="precio">{{ servicio.precio }}</span>
                  </p>
                  <input type="checkbox" />
                </div>
              </div>
              <div class="container-modal">
                <ion-button (click)="cerrarModal()" routerLink="/resumen-pago-paseo">Continuar</ion-button>
              </div>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
  </div>
</ion-footer>