<ion-content [fullscreen]="true">
  <div *ngFor="let paseador of paseadores" class="container-paseador">
    <div class="container-fotoperro">
      <div class="button-container">
        <ion-buttons slot="start">
          <ion-button class="return-btn" routerLink="/tabs/listado-paseadores">
            <div class="container-icon">
              <ion-icon src="assets/icons/union-2.svg"></ion-icon>
            </div>
          </ion-button>
        </ion-buttons>
      </div>
      <swiper-container [pagination]="true">
        <swiper-slide *ngFor="let imagen of paseador.imagenes">
          <img [src]="imagen" alt="Imagen del perro de {{ paseador.nombre }}">
        </swiper-slide>
      </swiper-container>
    </div>
    <div class="container-datos">
      <div class="container-fotousuario">
        <img [src]="paseador.imgUsuario" alt="Foto de {{ paseador.nombre }}">
      </div>

      <div class="container-info" routerLink="/detalle-paseo">

        <p class="nombre">{{ paseador.nombre }}</p>

        <p class="localizacion">
          <img src="assets\icons\Trazado 47654.png">
          <span class="nombreLugar">{{ paseador.localizacion }}</span>
        </p>

        <p class="opinion">
          <span class="valoracion">
            <ion-icon slot="start" src="assets/icons/star.svg"></ion-icon>
            <span class="nota">{{ paseador.valoracion }}</span>
          </span>
          <a href="/opiniones" class="opiniones">{{ paseador.opiniones }} opiniones</a>
        </p>
      </div>
    </div>
    <div *ngFor="let paseador of paseadores" class="container-paseador">

      <div class="container-detalles">
        <h2>Tipo de paseo</h2>
        <div *ngFor="let tipo of tipoPaseo" class="detalles">
          <li>{{ tipo }}</li>
        </div>
      </div>
      <hr>
      <div class="container-detalles">
        <h2>Mascotas que acepta</h2>
        <div *ngFor="let acepta of mascotasAcepta" class="detalles">
          <li>{{ acepta }}</li>
        </div>
      </div>
      <hr>
      <div class="container-detalles">
        <h2>Servicios extra</h2>
        <div *ngFor="let servicio of serviciosExtra" class="detalles">
          <li>{{ servicio }}</li>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="container-footer">
    <div class="container-acciones-btn">
      <ion-button class="btn-custom-2" routerLink="/das">Ver perfil</ion-button>
      <ion-button (click)="presentModal()" >Enviar solicitud</ion-button>
    </div>
  </div>
</ion-footer>