<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class= "edit-container" >
  <ion-avatar class="avatar">
    <img src="assets/imgs/usuarios/Rectángulo19656@3x.png" alt="User Avatar">
  </ion-avatar>
  <ion-button> Editar imagen</ion-button>
</div>


<div class="description-container">
  
  <h1>Nombre</h1>
  <ion-item class="nombre" >
    
    <ion-input placeholder="Ana Velázquez"></ion-input>
    
  </ion-item>

  <h2>Ubicación</h2>
  <ion-item class="ubicacion">
    
    <ion-input placeholder="Jerez de la Frontera, Cádiz"></ion-input>
    
  </ion-item>

  <h2>Fecha de nacimiento (No se mostrará publicamente)</h2>
  <ion-item lines="none" class="date-input-item">
    <ion-icon src="assets/icons/Unión 3.svg" slot="start" class="calendar-icon"></ion-icon>
    <ion-input  
      placeholder="12/11/1993"
      readonly
      (click)="openDatePicker()"
      [value]="selectedDate | date: 'dd/MM/yyyy'">
    </ion-input>
  </ion-item>
  
  <!-- Componente de ion-datetime, que solo se muestra cuando se hace clic en el input -->
  <ion-datetime
    *ngIf="showDatePicker"
    presentation="date"
    [preferWheel]="true"
    (ionChange)="onDateSelected($event)">
  </ion-datetime>



  <h2>Descripción</h2>
  <ion-item class="descripcion">
    <ion-textarea placeholder="¡Hola! Soy Ana, amante de los perros y apasionada por los paseos al aire libre. Tu mejor amigo tendrá una compañera de juegos y aventuras. &#10;¡Conmigo, los paseos serán su parte favorita!"></ion-textarea>
    
  </ion-item>
  
</div>

<ion-button class="save-btn"> Guardar cambios</ion-button>


</ion-content>
