ion-content {

    .container-a {
        margin-top: 23px;
        margin-bottom: 23px;
        .forgot-password {
            display: flex;
            justify-content: center;
            margin: 10px 0;
            color: black;
            font-size: 15px;
        }
    }

    .container-btn {
        margin-right: 15px;
        margin-left: 15px;
    }
}

a{
    font-family: LexendBold;
}

