<ion-content>
  <div class="fondo-login">
    <img src="assets/imgs/backgrounds/PATTERN-LOGIN.png" alt="fondo-login">
  </div>

  <div class="container-form">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
      <p class="title">LOGIN</p>
      <div class="container-input-activated">
        <ion-item>
          <ion-input clearInput type="text" placeholder="Email" formControlName="email"
            class="custom-input">
            <img slot="start" src="assets/icons/email.svg" alt="icono-personalizado" class="custom-icon" />
          </ion-input>
        </ion-item>
      </div>
      <div class="container-input">
        <ion-item>
          <ion-input clearInput type="password" placeholder="{{'LOGIN.PASSWORD' | translate }}"
            formControlName="password" class="custom-input">
            <img slot="start" src="assets/icons/password.svg" alt="icono-personalizado" class="custom-icon" />
          </ion-input>
        </ion-item>
      </div>
      <div class="container-a">
        <a class="forgot-password" routerLink="/forgot-password"><b>He olvidado mi contraseña</b></a>
      </div>

      <div class="container-btn">
        <ion-button type="submit" [disabled]="!form.valid" class="btn-custom">Entrar</ion-button>
      </div>
    </form>
  </div>
</ion-content>

<ion-footer>
  <div>
    <div>
      <p>¿Aún no tienes una cuenta? <b><a routerLink="/register">Regístrate</a></b></p>
    </div>
    <div>
      <p class="custom-p">Contacta con nosotros en <b>info&#64;guaumigo.com</b></p>
    </div>
  </div>
</ion-footer>