ion-content {
    font-family: Lexend, sans-serif;

    .container-form {
        position: relative;
        justify-content: center;
        top: -45px;
        background-color: white;
        border-radius: 50px 50px 0px 0px;
        width: 100%;
        padding-top: 22px;
        margin-right: 15px;
        
        .title {
            font-family: Chewy, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            font-size: 40px;
            margin: 0;
            margin-bottom: 28px;
        }

        .container-input,
        .container-input-activated {
            margin-bottom: 18px;
            margin-left: 15px;
            margin-right: 15px;
            padding: 3px;
            border-radius: 10px;

            .custom-input {
                font-size: 15px;
                width: 100%;
                margin-left: 10px;
            }

            ion-item {
                --border-color: transparent;
                --box-shadow: none;
            }
        }

        .container-input-activated {
            border: 1px solid black;
            color: black;
        }

        .container-input {
            border: 1px solid #acaaa5;
            color: #acaaa5;
        }
    }

    .container-a {
        margin-top: 23px;
        margin-bottom: 23px;
        .forgot-password {
            display: flex;
            justify-content: center;
            margin: 10px 0;
            color: black;
            font-size: 15px;
        }
    }

    .container-btn {
        margin-right: 15px;
        margin-left: 15px;
        .btn-custom {
            --background: var(--custom-color);
            color: black;
            width: 100%;
            --border-color: transparent;
            --box-shadow: none;
            font-size: 16px;
        }
    }
}

ion-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lexend, sans-serif;
    --box-shadow: none;
    --border: none;
}

ion-footer div {
    text-align: center;
    margin-bottom: 60px;

    p {
        font-size: 15px;
        color: black;

        a {
            color: black;
        }
    }

    .custom-p {
        color: #acaaa5;
    }
}
