ion-header {
    ion-toolbar {
        --background: var(--custom-color-2);
        --padding-start: 7px;
        padding: 30px 0 0;
        
        .button-container {
            display: flex;
            flex-direction: row; 
            align-items: center;
            transform: translateY(15px);
        }

        ion-buttons { 

            .return-btn {
                --box-shadow: none;
                --outline: none;
                --background: transparent; 
                padding: 0;

                .container-icon {
                    background-color: var(--custom-color);
                    border-radius: 8px;
                    padding: 9px; 

                    ion-icon {
                        width: 14px;
                        height: 14px; 
                    }
                }
            }
        }
    }
}


