<ion-header>
  <ion-toolbar [ngClass]="{'header-default': !esEspecial, 'header-especial': esEspecial}">
    <div class="button-container">
      
      <ion-buttons slot="start">
        <ion-button class="return-btn" (click)="goBack()" >
          <!-- [routerLink]="returnLink"  AÑADIR AL ION-BUTTON Y QUITAR EL (click)="goBack() SI FALLA EN ALGUNA PAGINA --> 
          <div class="container-icon">
            <ion-icon src="assets/icons/union-2.svg"></ion-icon>
          </div>
        </ion-button>
      </ion-buttons>

      
      <p *ngIf="headerText">{{ headerText }}</p>
    </div>

    
    <ion-buttons slot="end">
      <ng-content></ng-content>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
