ion-content{
    font-family: Lexend, sans-serif;

    .container-a {
        display: flex;
        align-items: center;
        margin-top: 23px;
        margin-right: 45px;
        margin-left: 45px;
    }
    
    .politicas {
        color: black;
        font-size: 14px;
        margin-left: 10px;
    }
    
    ion-checkbox {
        --size: 20px;
        --checkbox-background-checked: #000000;
    }
    
    ion-checkbox::part(container) {
        border-radius: 1px;
        border: 2px solid #000000;
    }
    
    .container-btn {

        padding-top: 12px;
    }
}
