<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>


<ion-content [fullscreen]="true" >
 
<div class="title-item-content">
<p class="tittle-item">Email</p>

<ion-item class="all-boxes">
  <ion-input placeholder="nombre_usuario@correo.es">
    
  </ion-input>
</ion-item>
</div>

<div class="title-item-content">
<p class="tittle-item">Contraseña</p>

<ion-item class="all-boxes">
  <ion-input placeholder="password-prueba">
    
  </ion-input>
</ion-item>
</div>

<div class="title-item-content">
<p class="tittle-item">Repetir Contraseña</p>

<ion-item class="all-boxes">
  <ion-input placeholder="password-prueba">
    
  </ion-input>
</ion-item>
</div>

<div class="title-item-content">
<p class="tittle-item">DNI/ NIF/ NIE</p>

<ion-item class="all-boxes">
  <ion-input placeholder="0000000X">
    
  </ion-input>
</ion-item>
</div>

<div>
<p class="tittle-item">Documento aportado</p>

<div class="content-images">
  <div>
  <ion-icon class="close-point" src="../../../assets/icons/Grupo12167.svg"></ion-icon>
<img class="image-card" src="../../../assets/imgs/top-view-green-card-application@3x.png" alt="">
</div>

<div>
  <ion-icon class="close-point" src="../../../assets/icons/Grupo12167.svg"></ion-icon>
<img class="image-card" src="../../../assets/imgs/top-view-green-card-application@3x.png" alt="">
</div>

</div>
</div>

<div class="title-item-content">
  <p class="tittle-item">Dirección de facturación</p>
  
  <ion-item class="all-boxes">
    <ion-input placeholder="C/ Nombre Prueba, Barcelona">
      
    </ion-input>
  </ion-item>
  </div>

  <div class="title-item-content">
    <p class="tittle-item">Número de IVA (Sólo si aplica)</p>
    
    <ion-item class="all-boxes">
      <ion-input placeholder="000000000000">
        
      </ion-input>
    </ion-item>
    </div>


    <ion-button class="yellow-button">Guardar cambios</ion-button>

    <ion-button class="black-button">Eliminar cuenta</ion-button>

</ion-content>

