<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink">

  <ion-buttons class="brush" slot="end">
    <ion-icon class="brush-icon" src="/assets/icons/brush2.svg"></ion-icon>
  </ion-buttons>

</app-app-header>



<ion-content [fullscreen]="true" class="ion-padding">

  <div class="container-tipo">
    <h2>Rango de distancia</h2>
    <div class="container-range">
      <p>Rango seleccionado: {{ rangoSeleccionado }} km</p>
      <input type="range" [value]="rangoSeleccionado" min="0"  max="10"  step="0.1" (input)="onRangoChange($event)" />
    </div>
  </div>

 
  <div class="category-container">
    <h2>Selecciona la categoría o categorías por las que deseas filtrar</h2>
    <ion-button class="category-button" 
                (click)="selectCategory(category)" 
                [ngClass]="{'selected': selectedCategories.includes(category.name)}" 
                *ngFor="let category of categories">
      <ion-icon src="{{ category.icon }}" class="category-icon"  
                [ngClass]="{'selected-icon': selectedCategories.includes(category.name)}"></ion-icon>
      {{ category.name }}
    </ion-button>
  </div>
  
  <div class="subcategory-container">
    <h2>Subcategorías</h2>
    <ion-button class="category-button" 
                (click)="selectSubcategory(subcategory)" 
                [ngClass]="{'selected': selectedSubcategories.includes(subcategory.name)}" 
                *ngFor="let subcategory of subcategories">
      {{ subcategory.name }}
    </ion-button>
  </div>
  
  <ion-button class="apply-button" routerLink="/mapa-punto-de-interes"> Aplicar filtros</ion-button>

</ion-content>