<ion-header>
  <ion-toolbar [ngClass]="{'header-default': !esEspecial, 'header-especial': esEspecial}">
    <div class="button-container">
      <ion-buttons slot="start">
        <ion-button class="return-btn" [routerLink]="returnLink">
          <div class="container-icon">
            <ion-icon src="assets/icons/union-2.svg"></ion-icon>
          </div>
        </ion-button>
      </ion-buttons>
      
      <p *ngIf="headerText">{{ headerText }}</p>

      <ion-buttons class="brush-button" slot="end">
        <ion-button class="return-btn">
          <div class="container-icon">
            <ion-icon class="brush-icon" src="assets/icons/brush2.svg"></ion-icon>
          </div>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="ion-padding">

  <div class="container-tipo">
    <h2>Rango de distancia</h2>
    <div class="container-range">
      <p>Rango seleccionado: {{ rangoSeleccionado }} km</p>
      <input type="range" [value]="rangoSeleccionado" min="0"  max="10"  step="0.1" (input)="onRangoChange($event)" />
    </div>
  </div>

 
  <div class="category-container">
    <h2>Selecciona la categoría o categorías por las que deseas filtrar</h2>
    <ion-button class="category-button" 
                (click)="selectCategory(category)" 
                [ngClass]="{'selected': selectedCategory === category.name}" 
                *ngFor="let category of categories">
      <ion-icon src="{{ category.icon }}" class="category-icon"  
                [ngClass]="{'selected-icon': selectedCategory === category.name}"></ion-icon>
      {{ category.name }}
    </ion-button>
  </div>
  
  <div class="subcategory-container">
    <h2>Subcategorías</h2>
  
    <ion-button  class="category-button " 
                *ngFor="let subcategory of subcategories" 
                (click)="selectSubcategory(subcategory)" 
                [ngClass]="{'selected': selectedSubcategory === subcategory.name}">
      {{ subcategory.name }}
    </ion-button>
  </div>
  
  <ion-button class="apply-button"> Aplicar filtros</ion-button>

</ion-content>