<ion-header>
  <ion-toolbar>
    <div class="barra-busqueda-container">
      <ion-searchbar placeholder="Buscar"></ion-searchbar>
        <ion-button  class="filtro-button" routerLink="/services-filters">
          <ion-icon src="assets/icons/filtros.svg" class="filtro" ></ion-icon>
        </ion-button>
      </div>
  </ion-toolbar>
   
</ion-header>

<ion-content [fullscreen]="true">

  <div class="info-content">
    <img src="../../../assets/imgs/perros/yorkshire-terrier-getting-procedure-groomer-salon-cropped-photo-little-dog-yorkshire-terrier-puppy-getting-haircut@3x.png" alt="">
    <div class="text-content" routerLink="/detalle-servicio">
      <div class="texts">
        <p class="cut-hair">Corte de pelo a tu mascota<br>
        <span class="distance">A 0,1 km de ti · Jerez de la Frontera, Cádiz</span><br>
        <span class="price"> 25€ <ion-icon src="../../../assets/icons/star.svg"></ion-icon><span class="stars">4,9</span></span></p>
        <p class="text-image"><img class="icon-user" src="../../../assets/imgs/usuarios/Rectángulo19764@3x.png"> Publicado por <span class="guau">Peluquería Guau!</span></p>
      </div>
      <ion-icon class="right-arrow" src="../../../assets/icons/Trazado 47843.svg"></ion-icon>
    </div>
    

  </div>

  <div class="info-content">
    <img src="../../../assets/imgs/interes/brown-bio-food.png" alt="">
    <div class="text-content">
      <div class="texts">
        <p class="cut-hair">Corte de pelo a tu mascota<br>
        <span class="distance">A 0,1 km de ti · Jerez de la Frontera, Cádiz</span><br>
        <span class="price"> 25€ <ion-icon src="../../../assets/icons/star.svg"></ion-icon><span class="stars">4,9</span></span></p>
        <p class="text-image"><img class="icon-user" src="../../../assets/imgs/usuarios/Rectángulo19764@3x.png"> Publicado por <span class="guau">Peluquería Guau!</span></p>
      </div>
      <ion-icon class="right-arrow" src="../../../assets/icons/Trazado 47843.svg"></ion-icon>
    </div>
    

  </div>

  <div class="info-content">
    <img src="../../../assets/imgs/interes/pink-bio-food.png" alt="">
    <div class="text-content">
      <div class="texts">
        <p class="cut-hair">Corte de pelo a tu mascota<br>
        <span class="distance">A 0,1 km de ti · Jerez de la Frontera, Cádiz</span><br>
        <span class="price"> 25€ <ion-icon src="../../../assets/icons/star.svg"></ion-icon><span class="stars">4,9</span></span></p>
        <p class="text-image"><img class="icon-user" src="../../../assets/imgs/usuarios/Rectángulo19764@3x.png"> Publicado por <span class="guau">Peluquería Guau!</span></p>
      </div>
      <ion-icon class="right-arrow" src="../../../assets/icons/Trazado 47843.svg"></ion-icon>
    </div>
    

  </div>





  













</ion-content>
