<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>

<ion-content [fullscreen]="true">
 
  <div class="coments-content" routerLink="/detalle-valoracion-empresa">
    <div class="content">
    <div class="stars-content">
      <ion-icon src="../../../assets/icons/star.svg"></ion-icon>
      <ion-icon src="../../../assets/icons/star.svg"></ion-icon>
      <ion-icon src="../../../assets/icons/star.svg"></ion-icon>
      <ion-icon src="../../../assets/icons/star.svg"></ion-icon>
      <ion-icon src="../../../assets/icons/star.svg"></ion-icon>
    </div>
    <p class="dog-service">Limado de uñas con Manchitas</p>
    <p class="date">18/09/2024</p>
  </div>
  <ion-icon class="arrow"  src="../../../assets/icons/Icon-ionic-ios-arrow-forward.svg"></ion-icon>
  </div>
  

  

</ion-content>