<ion-header>

  <p class="head-title">Hola <span class="head-name">Ana</span>, <br>
    consulta tus próximos paseos</p>
  <img class="back-header" src="../../../assets/imgs/backgrounds/PATTERN-HEADER.png" alt="">

  

</ion-header>

<ion-content class="body" [fullscreen]="true">

  <full-calendar #calendar [options]="calendarOptions">
    
    <ng-template #eventContent let-arg>
      <a class="fc-event fc-event-draggable fc-event-resizable fc-event-start fc-event-end fc-event-future fc-daygrid-event fc-daygrid-dot-event">
        <div class="fc-daygrid-event-dot" style="border-color: transparent;">
        </div>
      </a>
    </ng-template>
  </full-calendar>
<div class="white-background">
  <ion-button class="button-configure-calendar" routerLink="/configurar-calendario">Configurar mi calendario</ion-button>
  <hr>
</div>


<p class="date-days">21 - 27 Nov</p>
<div class="title-and-button">
  <p class="next-dates">Próximas citas</p>
  <ion-button class="button-comlplet-list">Ver listado completo</ion-button>
</div>
<div class="box-content">
  <div class="list-container" mode="md">
    <ion-list lines="none" mode="md" *ngIf="eventsSelectedDate?.allEvents && eventsSelectedDate.allEvents.length > 0">
      <ion-item *ngFor="let event of eventsSelectedDate.allEvents" class="custom-event-card" routerLink="/detalle-solicitud-aceptada-iniciar-paseo">
        <ion-label>
          <h2>{{ event.title }}</h2>
          <div class="date-time">
            <ion-icon slot="start" src="../../../assets/icons/calendar event.svg"></ion-icon>
            <p>{{ getDate(eventsSelectedDate?.date) }}</p>
          </div>
          <div class="date-time">
            <ion-icon slot="start" src="../../../assets/icons/time.svg"></ion-icon>
            <p>{{ getTime(event.time) }}</p> 
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
    
  
    <!-- Mensaje cuando no hay eventos para la fecha seleccionada -->
    <ion-item *ngIf="!eventsSelectedDate?.allEvents || eventsSelectedDate.allEvents.length === 0">
      <ion-label>No hay eventos para esta fecha</ion-label>
    </ion-item>
  </div>

<div>

</div>

</div>



  
  
</ion-content>
