<ion-header>

  <p class="head-title">Hola <span class="head-name">Ana</span>, <br>
    consulta tus próximos paseos</p>
  <img class="back-header" src="../../../assets/imgs/backgrounds/PATTERN-HEADER.png" alt="">

  

</ion-header>

<ion-content class="body" [fullscreen]="true">

  <div class="div-calendar">
  <ion-datetime [firstDayOfWeek]="1" [multiple]="true" presentation="date" class="calendar-content"></ion-datetime>

  
<ion-button class="button-configure-calendar" routerLink="/configurar-calendario">Configurar mi calendario</ion-button>
<hr>
</div>


<p class="date-days">21 - 27 Nov</p>
<div class="title-and-button">
  <p class="next-dates">Próximas citas</p>
  <ion-button class="button-comlplet-list">Ver listado completo</ion-button>
</div>
<div class="box-content">
<div class="walk-day">
  <img src="../../../assets/imgs/backgrounds/Rectángulo19422.png" alt="">
  <div>
  <p class="walk-day-dog">Paseo de día con Moka</p>
  <div class="date-time">
    <ion-icon slot="start" src="../../../assets/icons/calendar event.svg"></ion-icon>
    <p>21/09/2024</p>
  </div>
  <div class="date-time">
    <ion-icon slot="start" src="../../../assets/icons/time.svg"></ion-icon>
    <p>10:00 A.M</p>
  </div>
  
</div>
</div>
<div class="walk-day">
  <img src="../../../assets/imgs/backgrounds/Rectángulo19422.png" alt="">
  <div>
  <p class="walk-day-dog">Paseo de día con Moka</p>
  <div class="date-time">
    <ion-icon slot="start" src="../../../assets/icons/calendar event.svg"></ion-icon>
    <p>22/09/2024</p>
  </div>
  <div class="date-time">
    <ion-icon slot="start" src="../../../assets/icons/time.svg"></ion-icon>
    <p>13:00 A.M</p>
  </div>
  
</div>
</div>
<div>

</div>

</div>



  
  
</ion-content>
