ion-header{
    min-height: 0;
    height: 18%;
}

.back-header{
    width: 100%;
    height: 100%;
    position: relative;
}

.head-title{
    font-family: LexendMedium;
    color: #100F0F;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    margin-left: 5%;
    margin-top: 19%;
}

.head-name{
    font-family: LexendSemiBold;
    color: #100F0F;
    font-size: 20px;
}

.body{
    --background: #F8F8F8;
}

.div-calendar{
    background: white;
}

.calendar-content{
    max-width: fit-content;
    background: #FFFFFF;   
    font-family: LexendRegular;
    color: #9198A7;
    font-size: 10px;
}

--ion-font-family{
    font-family: LexendRegular;
}



.button-configure-calendar{
    font-family: LexendRegular;
    font-size: 15px;
    color: #100F0F;
    width: 213px;
    height: 48px;
    --border-radius: 24px;
    margin-left: 25%;

}

.date-days{
    margin-left: 5%;
    color: #9198A7;
    font-size: 13px;
    font-family: LexendRegular;
    margin-bottom: 0;
}

.title-and-button{
  display: flex;
  width: 90%;
  margin-left: 5%;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .next-dates{
      color: #27333C;
      font-family: LexendMedium;
      font-size: 18px;
      white-space: nowrap;
  }

  .button-comlplet-list{
      color: #100F0F;
      font-family: LexendRegular;
      font-size: 10px;
      width: 126px;
      height: 32px;
      --border-radius: 16px;
      margin-left: auto;
  }
}

.box-content{
    //display: flex;
    display: grid;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    grid-auto-flow: column;
    gap: 1rem;
}

.walk-day{
   border-radius: 10px;
   background-color: #FFFFFF; 
   height: 115px;
   width: 276px;
   margin-left: 5%;
   display: flex;
   gap: 20px;

   .walk-day-dog{
    color: #27333C;
    font-family: LexendSemiBold;
    font-size: 15px;
    
   }

   .date-time{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 10px;
    margin-bottom: 10%;
    

    p{
        color: #100F0F;
        font-size: 15px;
        font-family: LexendLight;
    }

}
   


}



full-calendar{

    font-family: LexendRegular !important;
   
    
}

::ng-deep .fc-toolbar-chunk{

   
    .fc-toolbar-title{

        font-size: 14px !important;  
        text-transform: capitalize;
        
    }
    .fc-button-group{

        gap: 0 !important;
        margin: 0 !important; 
       font-size: 1px!important;
       
       
    }
    
   
        .fc-icon{
            font-size: 14px !important;   
            color: #2B2828!important;
          
        }
    
}


::ng-deep.fc-day-today {
    background-color: transparent !important;  /* Fondo transparente */
                
  }

::ng-deep .fc-daygrid-day-number.selected {
    background-color: transparent !important;  // Fondo transparente
    border: 2px solid #FFD700 !important;  // Borde de color dorado
    border-radius: 50% !important;  // Asegura que sea un círculo perfecto
    color: #FFD700 !important;  // Color del número dentro del círculo
    width: 30px !important;  // Ajusta el tamaño del círculo
    height: 30px !important;  // Asegura que sea un círculo perfecto
     // Alinea el texto verticalmente en el centro
    text-align: center;  // Alinea el texto horizontalmente
    font-weight: bold;  // Opcional: hace que el número se vea más claro
  }
  

::ng-deep .fc .fc-daygrid-day-number {
    color: #919191 !important; /* Cambia este color */
    font-family: LexendRegular !important;
    font-weight: 500 !important;
    font-size: 16px !important;
   
    
  }
  
  ::ng-deep .fc .fc-day-today .fc-daygrid-day-number {
    color: #273c2d !important; /* Cambia el color del día actual */
    font-family: LexendSemiBold !important;
    
  }
  
  ::ng-deep .fc .fc-day-sat .fc-daygrid-day-number,
  ::ng-deep .fc .fc-day-sun .fc-daygrid-day-number {
    color: #919191  !important; /* Cambia el color de los días de fin de semana */
    font-family: LexendRegular !important;
  }

  ::ng-deep .fc-col-header-cell-cushion  {
    color: #919191!important; 
    font-family: LexendRegular !important;
    font-size: 14px;
    font-weight: 500;
  }

.fc-event {
    background-color: #FFD954 !important;
   
  }

  
ion-list{

    background: transparent;
}

  .custom-event-card {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px; 
    width: auto;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 2px 5px #CECECD;
    margin-bottom: 12px;
    position: relative;
    overflow: visible;
  }
  
  .custom-event-card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    background-color: #FFC107; /* Cambia este color por el que necesites */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  
  .custom-event-card h2 {
    font-size: 15px;
    font-family: LexendSemiBold;
    color: #27333C;
    margin: 0;
    padding-bottom: 8px;
  }
  
  .date-time {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #100F0F;
    font-family: LexendLight;
    margin-bottom: 9px;
  }
  
  .date-time ion-icon {
    margin-right: 6px;
    font-size: 15px;
    color: #100F0F;
  }
  
  .date-time p {
    margin: 0;
    font-size: 15px;
    font-family: LexendLight;
  }
  .white-background{

    background: #FFFFFF;
  }

