<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="barra-busqueda-container">
      <ion-searchbar placeholder="Buscar"></ion-searchbar>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content class="body" [fullscreen]="true">
  
  <div class="content" *ngFor="let paseo of datos" [routerLink]="paseo.ruta">
    <div class="info">
      <p class="text-1">{{ paseo.nombre }}</p> <!-- Paseo nombre se obtiene de datos -->
      <div class="icons">
        <ion-icon slot="start" src="../../../assets/icons/calendar event.svg"></ion-icon>
        <p>{{ paseo.fecha }}</p> <!-- Fecha del paseo -->
      </div>
      <div class="icons-2">
        <ion-icon slot="start" src="../../../assets/icons/time.svg"></ion-icon>
        <p>{{ paseo.hora }}</p> <!-- Hora del paseo -->
      </div>
      <p class="text-2">Estado: 
        <span class="span-1" *ngIf="paseo.estado === 'Pendiente'">{{ paseo.estado }}</span>
        <span class="span-2" *ngIf="paseo.estado === 'Rechazada'">{{ paseo.estado }}</span>
        <span class="span-3" *ngIf="paseo.estado === 'Aceptada'">{{ paseo.estado }}</span>
        <span class="span-4" *ngIf="paseo.estado === 'Esperando confirmación'">{{ paseo.estado }}</span>
      </p>
    </div>
    <ion-icon class="arrow" src="../../../assets/icons/arrowups.svg"></ion-icon>
  </div>

</ion-content>
