<app-app-header [headerText]="dynamicHeaderText"></app-app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class= "edit-container" >
  <ion-avatar class="avatar">
    <img src="assets/imgs/profile-photo-empresa.png" alt="User Avatar">
  </ion-avatar>
  <ion-button> Editar imagen</ion-button>
</div>


<div class="description-container">
  
  <h1>Nombre</h1>
  <ion-item class="nombre" >
    
    <ion-input placeholder="Peluquería Guau!"></ion-input>
    
  </ion-item>

  <h2>Ubicación</h2>
  <ion-item class="ubicacion">
    
    <ion-input placeholder="Jerez de la Frontera, Cádiz"></ion-input>
    
  </ion-item>



  <h2>Descripción</h2>
  <ion-item class="descripcion">
    <ion-textarea rows="4" 
    placeholder="Somos tu peluquería canina de confianza. Nuestros servicios incluyen baños relajantes, cortes de pelo adaptados a cada raza y corte de uñas.&#10;¡Tu mascota estará feliz y relajada!">
  </ion-textarea>
  
    
  </ion-item>
  
</div>

<ion-button class="save-btn" routerLink="/galeria"> Guardar cambios</ion-button>


</ion-content>
