<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>

<ion-content [fullscreen]="true">
  
  
  <img class="dog-photo" src="../../../assets/imgs/perros/haircuting-process-small-dog-sits-table-dog-with-professional@3x.png" alt="">
  
  <ion-button class="edit-button">Editar imagen</ion-button>
  
  
  

  <p class="top-text-input">Nombre de la empresa</p>
  <ion-item class="item-content">
    
    <ion-input  placeholder="Peluquería Guau!"></ion-input>

  </ion-item>

  <p class="top-text-input">Ubicación</p>
  <ion-item class="item-content">

    <ion-input  placeholder="Jerez de la Frontera, Cádiz"></ion-input>

  </ion-item>

  <p class="top-text-input">Descripción</p>
  <ion-item class="item-content-big">

    <ion-textarea>Somos tu peluquería de confianza. Nuestros servicios incluyen baños relajantes, corte de pelo adaptados a cada raza y corte de uñas.</ion-textarea>

    <!-- <ion-textarea>¡Tu mascota estará feliz y relajada!</ion-textarea> -->

  </ion-item>

  <ion-button class="last-button">Guardar cambios</ion-button>


















</ion-content>
