ion-header {
    --padding-start: 0;
    --padding-end: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
    height: 170px;

    ion-toolbar {
        --background: url(../../../assets/imgs/backgrounds//PATTERN-HEADER.png) no-repeat center / cover;
        --padding-start: 15px;
        --padding-end: 15px;
        padding-top: 60px;
        padding-bottom: 12px;
        height: 100%;
        display: flex;

        .barra-busqueda-container {
            display: flex;
            align-items: center;
            width: 100%;
            height: 40px !important;
            margin-bottom: 10px;
            margin-top: auto;

            ion-searchbar {
                --border-radius: 10px;
                --box-shadow: 0;
                --icon-color: #110f0f;
                --background: #ffffff;

                font-family: LexendRegular;
                color: #a5a5a5;
                font-size: 15px;
                height: 100%;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0;
                height: 40px !important;

                input {
                    height: 100%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                input::placeholder {
                    color: #a5a5a5;
                    font-size: 15px;
                }
            }
        }

        .container-btn-search {
            display: flex;

            .filtro-btn,
            .mapa-btn {
                height: 42px;
                font-size: 15px;
                font-family: LexendRegular;
                margin-left: 0;
            }

            .filtro-btn {
                --color: #000000;
                --background: #ffffff;
                width: auto;
                margin-right: 8px;

                .icono-filtro {
                    margin-right: 10px;
                    font-size: 12px;
                }
            }

            .mapa-btn {
                height: 45px;
                --color: #ffffff;
                --background: #000000;
                width: auto;
            }
        }
    }
}

ion-content {
    .container-contenido {
        padding: 15px;
        position: relative;

        .anadir-interes-icon {
            position: fixed;
            width: 92px; 
            height: 92px; 
            bottom: 4px; 
            right: 7px; 
            z-index: 10;
        }

        //PASEOS
        .container-paseos {
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            box-shadow: 0 2px 8px #cececd;
            margin-bottom: 15px;
            margin-right: 0;
            margin-left: 0;
            overflow: hidden;
            background-color: #ffffff;

            .container-fotoperro {
                position: relative;
                width: 100%;
                height: 110px;
                overflow: hidden;
                position: relative;

                .tipoIcon {
                    position: absolute;
                    top: 15px;
                    right: 11px;
                    width: 35px;
                    height: 35px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .category-icon {
                    position: absolute;
                    top: 10px; /* Ajusta según sea necesario */
                    right: 10px; /* Ajusta según sea necesario */
                    width: 36px; /* Ajusta el tamaño del ícono según sea necesario */
                    height: 36px; /* Ajusta el tamaño del ícono según sea necesario */
                    z-index: 1; /* Asegura que el ícono esté por encima de la imagen */
                }
            }

            .container-datos {
                display: flex;
                padding: 10px 0px 10px 15px;
                padding-top: 13px;
                align-items: center;
                margin-bottom: 5px;

                .container-info {
                    .nombre,
                    .distancia,
                    .precio {
                        margin-top: 0;
                        margin-bottom: 5px;
                    }

                    .nombre {
                        font-family: LexendRegular;
                        font-size: 16px;
                        color: #110f0f;
                    }

                    .distancia {
                        font-family: LexendLight;
                        font-size: 13px;
                        color: #808080;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 242px;
                        display: inline-block;
                    }

                    .usuario-publicador {
                        display: flex;
                        align-items: center;
                        font-family: LexendRegular;
                        font-size: 14px;
                        color: #555;
                        margin: 0;

                        .fotoUsuario {
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            object-fit: cover;
                            margin-right: 5px;
                        }

                        .publicado-nombreUsuario,
                        .nombreUsuario {
                            font-size: 13px;
                            color: #110f0f;
                        }

                        .publicado-nombreUsuario {
                            font-family: LexendLight;

                            .nombreUsuario {
                                font-family: LexendSemiBold;
                            }
                        }
                    }
                }

                .signoDirigir {
                    position: absolute;
                    right: 30px;
                    transform: translateY(-20%) rotate(-90deg);
                    width: 13px;
                }
            }
        }
    }
    .add-button{

        height: 94px;
        width: 94px;
        --border-radius: 50px;
    }

    .add-icon{
        width: 45px; /* Ajusta según sea necesario */
        height: 45px; /* Ajusta según sea necesario */
    }
}
