<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>

<ion-content [fullscreen]="true">
  
<p class="client-data">Datos del cliente</p>

<div class="profile-container">
  <img class="person" src="../../../assets/imgs/usuarios/Rectángulo 19665@3x.png" alt="">

  <div>
    <p class="name">Ana Velazquez</p>
    <div class="location">
      <img class="star" src="../../../assets/imgs/interes/star.png" alt="">
      <p class="points">4,6</p>
      <p class="city">Jerez de la Frontera, Cádiz</p>
    </div>
  </div>
</div>

<p class="profile"><u class="opinions">Ver perfil</u></p>
 

<hr>

<p class="walk-data">Datos del paseo</p>

<div class="date-time">
  <ion-icon slot="start" src="../../../assets/icons/calendar event.svg"></ion-icon>
  <p>22/09/2024</p>
</div>
<div class="date-time">
  <ion-icon slot="start" src="../../../assets/icons/time.svg"></ion-icon>
  <p>13:00 A.M</p>
</div>

<p class="grey-text">Mascota que participará</p>

<div class="dog-content">
  <img class="dog-image" src="../../../assets/imgs/perros/Rectángulo19665@3x.png" alt="">
  <div>
    <p class="moka">Moka</p>
    <P class="age">Pug · 2 años</P>
  </div>
</div>

<p class="grey-text-2">Servicio extra</p>

<p class="bad-habits">Corrección de malos hábitos</p>

<ion-button class="last-button-1">Aceptar solicitud</ion-button>

<ion-button class="last-button-2">Rechazar solicitud</ion-button>













</ion-content>
