<app-app-header [headerText]="dynamicHeaderText"></app-app-header>

<ion-content [fullscreen]="true">
  
<p class="client-data">Datos del cliente</p>

<div class="profile-container">
  <img class="person" src="../../../assets/imgs/usuarios/Rectángulo 19812@3x.png" alt="">

  <div>
    <p class="name">Abel Soria</p>
    <div class="location">
      <img class="star" src="../../../assets/imgs/interes/star.png" alt="">
      <p class="points">4,6</p>
      <p class="city">Jerez de la Frontera, Cádiz</p>
    </div>
  </div>
</div>

<p class="profile"><u class="opinions">Ver perfil</u></p>
 

<hr>

<p class="walk-data">Datos del servicio</p>

<div class=" service-name">
<p class="name"> Nombre del servicio</p>
<p class="type"> Limado de uñas</p>

</div>
<div class="date-time">
  <ion-icon slot="start" src="../../../assets/icons/calendar event.svg"></ion-icon>
  <p>22/09/2024</p>
</div>
<div class="date-time">
  <ion-icon slot="start" src="../../../assets/icons/time.svg"></ion-icon>
  <p>13:00 A.M</p>
</div>

<p class="grey-text">Mascota que participará</p>

<div class="dog-content">
  <img class="dog-image" src="../../../assets/imgs/perros/dalmata.png" alt="">
  <div>
    <p class="moka">Manchitas</p>
    <P class="age">Dálmata · 4 años</P>
  </div>
</div>

<p class="grey-text-2">Servicio extra</p>

<p class="bad-habits">No hay</p>

<ion-button  routerLink="/valoracion-servicio" class="last-button-1">Añadir valoración </ion-button>

<ion-button class="last-button-2">Cancelar reserva</ion-button>













</ion-content>
