<app-app-header [headerText]="dynamicHeaderText" [returnLink]="returnLink"></app-app-header>

<ion-content [fullscreen]="true">

  <p class="company">Datos del paseador</p>

  <div class="profile-container">
    <img class="dog" src="../../../assets/imgs/avatar@3x.png" alt="">

    <div >
      <p class="company-name">Ana Velazquez</p>
      
      <div class="stars">
        <img src="../../../assets/imgs/interes/star.png" alt="">
        <p class="points">4,9 <span class="opinions">· Jerez de la Frontera, Cádiz</span></p>

      </div>

    </div>

  </div>
  
  <ion-button class="little-button" routerLink="/anadir-valoracion-desde-detalle-de-solicitud">Añadir valoración</ion-button>

  <hr>
  <div class="services-head">
  <p class="title">Datos del paseo </p>
  
  <div class="date-time">
  <ion-icon slot="start" src="../../../assets/icons/calendar event.svg"></ion-icon>
  <p class="icons">18/09/2024</p>
  </div>
  <div class="date-time">
    <ion-icon slot="start" src="../../../assets/icons/time.svg"></ion-icon>
  <p class="icons">10:00 A.M</p>
</div>
</div>
<p class="pet">Mascota que participará</p>
<div class="moka">
  <img src="../../../assets/imgs/perros/Rectángulo19665.png" alt="">
  <div>
    <p class="dog-name">Moka</p>
    <p class="age">Pug· 2 años</p>
  </div>
</div>
<p class="extra-service">Servicio extra </p>
<p class="medicine">Corrección de malos hábitos</p>



<hr>

<div class="target" routerLink="/detalle-solicitud-aceptada">
  <p>Información de pago</p>

  

  
    <ion-item lines="full">
      <ion-label class="label-1">Servicio</ion-label>
      <ion-label class="label-2">30€</ion-label>
    </ion-item>
    <hr>
    <ion-item>
      <ion-label class="label-1">Servicios extra</ion-label>
      <ion-label class="label-2">5€</ion-label>
    </ion-item>
    <hr>
    <ion-item>
      <ion-label class="label-1">Pago de suscripción</ion-label>
      <ion-label class="label-2">45€</ion-label>
    </ion-item>
    <hr>
    <ion-item class="last-item">
      <ion-label class="label-3">Total</ion-label>
      <ion-label class="label-4">80€</ion-label>
    </ion-item>
  
  
</div>














  <hr class="last-line">
  <p class="final-text">Seguimiento de paseos</p>
  <img class="map" src="../../../assets/imgs/Grupo12160@3x.png" alt="" routerLink="/seguimiento-de-paseos">
  
  <ion-button class="last-button" routerLink="/anadir-valoracion-desde-detalle-de-solicitud">Finaizar paseo</ion-button>

</ion-content>
